{{template "header" .}}
    <title> 团队-金冠直通车 · 中小规模电商运营第一品牌.
    </title>
  </head>
  <body data-spy="scroll" data-target="#scrollspy" class="">
    <div class="container-full">
    <!-- Global navigation scheme(s)
    ================================================== -->
    {{template "navibar" .}}
  
    <div class="jumbotron">
        <div class="our-story">
          <div class="container">
            <div class="wrapper">
              <div class="row">
                <div class="col-md-10">
                  <h1>
                    
                  </h1>
                </div> <!-- /.col -->
              </div> <!-- /.row -->
              <div class="row">
                <div class="col-md-12">
                  
      <div class="row" align="center">
        <div class="col-md-12">
          <br>
          <h1 class="framed">
            团 队 介 绍
          </h1>
        </div> <!-- /.col -->
      </div> <!-- /.row -->

                </div> <!-- /.col -->
              </div> <!-- /.row -->
            </div> <!-- /.wrapper -->
          </div> <!-- /.container -->
        </div> <!-- /.landing -->
      </div>



      <div class="light">
    <div class="cushion">
      <div class="container">
        <div class="row">
          <div class="col-md-12" align="center">
            <h1>
              我们的团队，起源于一次咖啡馆的聚会.
            </h1>
          </div> <!-- /.col -->
        </div> <!-- /.row -->
      </div> <!-- /.container -->
    </div> <!-- /.cushion -->
  </div>




    <div class="white">
    <div class="container">
      <div class="row">
        <div class="col-md-3 cushion">
          <div class="spacer"></div>
          <ul class="nav nav-pills nav-stacked">
            <li class="active">
              <a href="#">
                团队介绍
              </a>
              <ul class="nav nav-pills nav-stacked">
                <li>
                  <a href="#aboutus" id="anchor2" class="anchorLink">
                    关于我们
                  </a>
                </li>
                <li>
                  <a href="#partners" id="anchor3" class="anchorLink">
                    合作伙伴
                  </a>
                </li>
                <li>
                  <a href="#vision" id="anchor3" class="anchorLink">
                    公司愿景
                  </a>
                </li>               
              </ul>
            </li>            
          </ul>
        </div> <!-- /.col -->
        <div class="col-md-8 border-left cushion-lg">
          <a name="aboutus" id="aboutus" class="nav-offset"></a>
          <h1>
            关于我们
          </h1>
           <div class="divider-lg"></div>
          <div class="spacer"></div>
          

                    <h2 class="text-muted">
                      金冠·直通车的由来...
                    </h2>
                    <small>
                    <p>
                      大概是一年半以前，我刚刚参加完一个微商运营碰头会，会后和几个老同事坐到了路边一家咖啡馆聊了起来. 当时正值盛夏，微商的势头刚刚启动，
                      淘宝似乎碰到了前所未有的糟糕局面. 我们几个互联网老兵争论的对象就是传统的电子商务平台是否走到了尽头，新进入电商的参与者如何才能有机会
                      获得哪怕一丁点的竞争优势.
                      <br>
                      <br>
                      问题似乎没有答案，大家各奔东西之后，我们投了一个微商产品，开始做一个小的试水. 在长期的 “传统” 互联网领域养成的运营习惯，让我们比其他参与者
                      更关注数据告诉我们的故事. 于是，我们花了很长一段时间对自己朋友圈内的微商行为进行了数据的搜集和整理，并尝试将这些内容和相应产品在平台电商
                      环境下的同类产品进行运营类比.
                      多年的技术积累对这样的分析起了很大的帮助作用，我们从数据上发现，微商的产品类型长期聚焦在两类产品，一类即成本极低，可实现多级代理模式的产品上，如面膜。另一类即长期具有普遍高价值判断，但其实际价格很低，而且市场没有标准的品类，如玉石。也即溢价极高的产品，对中小微商而言，参与其中方有可能获利.
                      <br>
                      <br>
                      另一方面，通过我们继续的针对平台电商目标店铺的运营行为监控，我们发现，平台电商的数据在微商崛起的过程中并未出现明显的下滑，而由于其竞争规则愈发清晰和有迹可循，新手玩家通过一定技巧的掌握脱颖而出的可能性反而未必比盲目投入微商成功的概率小. 同时，我们也再次投了一个产品品类到平台电商上，通过我们挖掘到的运营数据作为运营指导，反而获得了比之前微商试水的产品更好地市场效果.
                      <br>
                      <br>
                      于是，我们萌发了将自己针对互联网电商运营研发的这套工具开放，以期帮助更多店长，将他们从繁杂的运营行为中解放出来的想法. 在平台初步投入试运营之后，我们获得了更多店长的无私的支持. 而且，我们也很高兴的看到，采用了我们运营平台的店铺，无论是数据上，还是实际效果上，以及店长的精力节约上，都有比较好的效果.
                      这里，不得不提到我们团队内负责智能知识库的同仁，正是他们的经验和技术，使我们的产品智能分析能力日益增长.
                      <br>
                      <br>
                      未来的运营一定是智能的运营，店长们应该拥有更多的时间，去做更有决定性意义的事情. 这也是金冠·直通车的由来~
                    </p>
                    
                    </small>
                    <br>
                    <h4>
                      <strong>— 金冠·直通车</strong>
                    </h4>
          


          <br>
          <div class="spacer"></div>
          <a name="partners" id="partners" class="nav-offset"></a>
          <h1>
            合作伙伴
          </h1>
           <div class="divider-lg"></div>
          <div class="spacer"></div>
          
          <h2 class="text-muted">
          以下，是我们重要的合作伙伴
          </h2>
          <ul>
            <li>
          <img src="/static/img/aboutus/p1.png" width ="200"/>
          <div class="spacer"></div>
            </li>            
            <li>
          <img src="/static/img/aboutus/p2.png" width ="200"/>
          <div class="spacer"></div>
            </li>
            <li>
          <img src="/static/img/aboutus/p3.png" width ="200"/>
          <div class="spacer"></div>
            </li>           
            <li>
          <img src="/static/img/aboutus/p4.png" width ="200"/>
          <div class="spacer"></div>
            </li>
          </ul>

          <div class="spacer"></div>
          <a name="vision" id="vision" class="nav-offset"></a>
          <h1>
            公司愿景
          </h1>
           <div class="divider-lg"></div>
          <div class="spacer"></div>
          <h2 class="text-muted">
          我们的目标，就是成为一家专业的智能运营服务提供商
          </h2>
            <p>            
            <br>
            <small>
              <img src="/static/img/aboutus/cloud1.png" width="200"/>. 
              <h3><strong>三位一体的数据服务.</strong> 无论客户在什么环境下，均能快速获取所需要的数据，云服务器，PC端，移动端实时同步</h3>
            </small>
            </p>
            <div class="divider-lg"></div>
            <br>

            <p>            
            <br>
            <small>
              <img src="/static/img/aboutus/man1.png" width="200"/>. 
              <h3><strong>智能决策支持服务. </strong>系统提供的店铺针对性运营建议，随需而变，是真正直接帮助小主的 “大数据” </h3>
            </small>
            </p>
            <div class="divider-lg"></div>
            <br>

            <p>            
            <br>
            <small>
              <img src="/static/img/aboutus/man2.png" width="200"/>. 
              <h3><strong>专家智囊团服务.</strong> “面对面” 的店铺运营建议，效率胜过自己盲目的探索无数倍 </h3>
            </small>
            </p>
            <div class="divider-lg"></div>
            <br>            

        </div> <!-- /.col -->
      </div> <!-- /.row -->
    </div> <!-- /.container -->
  </div>
  



        <div class="light">
          <div class="cushion">
            <div class="container">
              
                <div class="row">
                  <div class="col-md-12" align="center">
                    <h1>作为团队创始人，我们很乐意听到小主的意见<small><em> — 试试我们的产品吧.</em></small></h1>
                  </div>
                </div>
              
              <div class="row small">
                <div class="col-md-4">
          <div class="testimonial">
            <div class="headshot">
              <img src="/static/img/aboutus/testimonial-maren-donovan.jpg" width="75" height="75">
            </div> <!-- /.headshot -->
            <div class="quote">
              <p>
                
         韦先生在互联网和移动互联网产品研发与运营领域有多年的经验，专注云计算和大数据处理技术多年. 旗下团队曾负责过多款业内知名互联网产品的线上运营体系建设.

              </p>
            <div class="name">
              
          韦大卫

            </div>
            <div class="divider"></div>
              <p class="small">
                
          <em>创始人 &amp; CEO</em>        

              </p>
            </div> <!-- /.quote -->
          </div> <!-- /.testimonial -->
        </div> <!-- /.col -->
        <div class="col-md-4">
          <div class="testimonial">
            <div class="headshot">
              <img src="/static/img/aboutus/testimonial-erik-jensen.jpg" width="75" height="75">
            </div> <!-- /.headshot -->
            <div class="quote">
              <p>
                
          王先生与韦先生是旧同事，均参与过大数据智能系统的研发和运营，具有计算机智能专业背景. 最感兴趣的技术方向是人工智能和智能引擎.

              </p>
            <div class="name">
              
           王一

            </div>
            <div class="divider"></div>
              <p class="small">
                
          <em>联合创始人 &amp; CTO</em>          

              </p>
            </div> <!-- /.quote -->
          </div> <!-- /.testimonial -->
        </div> <!-- /.col -->
        <div class="col-md-4">
          <div class="testimonial">
            <div class="headshot">
              <img src="/static/img/aboutus/testimonial-collin-vine.jpg
        " width="75" height="75">
            </div> <!-- /.headshot -->
            <div class="quote">
              <p>
                
              喜欢简洁的产品设计，多年的互联网产品设计经验. 产品具有 “如手术刀般锐利的感官体验，直达用户痛点”. 这就是我们的首席产品官，张先生.

              </p>
            <div class="name">
              
           张良

            </div>
            <div class="divider"></div>
              <p class="small">
                
          <em>联合创始人 &amp; CPO</em>         
              </p>
            </div> <!-- /.quote -->
          </div> <!-- /.testimonial -->
        </div> <!-- /.col -->

              </div> <!-- /.row -->
            </div> <!-- /.container -->
          </div> <!-- /.cushion -->
        </div>





        <div class="white">
            <div class="container">
              <div class="row">
                <div class="col-md-6 padding-right cushion-lg">
                  <h1>
                    我们的团队
                  </h1>
                  <p>
                    <small>
                    金冠·直通车有一个激情四射而又小而美的团队，里面汇聚了电子商务的专家，云技术和智能技术的专家，产品文化的专家和天才的工程师. 
                    公司坐落于华南地区创新的核心城市——广州，同时，在全国主要核心城市均设立了客户服务中心.                    
                  </small>
                  </p>
                </div> <!-- /.col -->
                <div class="col-md-6 cushion-lg border-left">
                  <h1>
                    我们的投资人
                  </h1>
                  <p>
                    <small>
                    几位联合创始人也就是公司投资人，基于其多年的互联网经验的积累，公司成立以来即获得了迅速的发展.
                  </small>
                  </p>
                  <div class="testimonial">
                    <div class="headshot">
                      <img src="/static/img/aboutus/testimonial-tony-hsieh.jpg" class="img-circle" width="75" height="75">
                    </div> <!-- /.headshot -->
                    <div class="quote small">
                      <blockquote>
                        <em>"我们相信，金冠·直通车必将改变电子商务运营市场的业态，使人们更自由，更有成就感."</em>
                      </blockquote>
                      <div class="name">
                        — 韦大卫
                      </div>
                      <div class="divider"></div>                      
                    </div> <!-- /.quote -->
                  </div> <!-- /.testimonial -->
                </div> <!-- /.col -->
              </div> <!-- /.row -->
            </div> <!-- /.container -->
          </div>





    {{template "footer" .}}
</div>
</body></html>