{{template "header" .}}
    <title> 赚钱之道-金冠直通车 · 中小规模电商运营第一品牌.
    </title>
    <script type="text/javascript">
      function choose(element){
        clearActiveLink();
        element.attr('class','list-group-item active');
      }
      function clearActiveLink(){
        var links = new Array();
        links[0] = "targetshoplink";
        links[1] = "myshoplink";
        links[2] = "feedbacklink";
        links[3] = "changepwdlink";
        for(i =0;i<4;i++)
        {
          document.getElementById(links[i]).className = "list-group-item";
        }
      }   
    </script>
    <script type="text/javascript" src="/static/js/accountvalid.js"></script>
  </head>
  <body data-spy="scroll" data-target="#scrollspy" class="">
    <div class="container-full">
    <!-- Global navigation scheme(s)
    ================================================== -->
    {{template "navibar" .}}
        
          <div class="jumbotron">
    <div class="client-success"> <!-- Calling the background image -->
      <div class="container">
        <div class="wrapper">
          <div class="row">
            <div class="col-md-10">
              <h1>
                
              </h1>
            </div> <!-- /.col -->
          </div> <!-- /.row -->
          <div class="row">
            <div class="col-md-12">
              
  <div class="row" align="center">
    <div class="col-md-12">
      <br>
      <h1 class="framed">
        赚 钱 之 道
      </h1>
    </div> <!-- /.col -->
  </div> <!-- /.row -->

            </div> <!-- /.col -->
          </div> <!-- /.row -->
        </div> <!-- /.wrapper -->
      </div> <!-- /.container -->
    </div> <!-- /.landing -->
  </div> <!-- /.jumbotron -->

    
  <div class="light">
    <div class="cushion">
      <div class="container">
        <div class="row">
          <div class="col-md-12" align="center">
            <h1>
              电商之道，赚钱之道；电商之道，运营为先.
            </h1>
          </div> <!-- /.col -->
        </div> <!-- /.row -->
      </div> <!-- /.container -->
    </div> <!-- /.cushion -->
  </div> <!-- /.light -->
  <div class="white">
    <div class="container">
      <div class="row">

        <div class="col-md-12 cushion-lg">
          <center>
          <h1>
            电商运营应该直接而有效.
          </h1>
          <p>
            无论是线上还是线下的生意，做的都是人的生意. <br>而电商之道，同样讲的也是人，以及人与人之间的关系. 
            线上店铺的数据，就是线上人气的抽象体现. <br>只要几个视频，几篇文章，小主就可以准确把握店铺运营精髓，掌握生意之道.
          </p>
        </center>
        </div> <!-- /.col -->
      </div> <!-- /.row -->
    </div> <!-- /.container -->
  </div> <!-- /.white -->


  <section id="rebekah">
    <div class="minitron">
      <div class="rebekah-iliff">
        <div class="container">
          <div class="wrapper">
            <div class="row">
              <div class="col-md-12" align="center">
                <h1>
                  真 实 的 起 步
                </h1>
              </div> <!-- /.col -->
            </div> <!-- /.row -->
          </div> <!-- /.wrapper -->
        </div> <!-- /.container -->
      </div> <!-- /.trusted -->
    </div> <!-- /.minitron -->
    <div class="white">
      <div class="container">
        <div class="row">
          <div class="col-md-6 padding-right cushion-lg">     
         
            <p>
              <iframe src="//fast.wistia.net/embed/iframe/og2latn2wr?videoFoam=true&plugin%5BdimTheLights%5D%5Bsrc%5D=%2F%2Ffast.wistia.com%2Flabs%2Fdim-the-lights%2Fplugin.js&plugin%5BdimTheLights%5D%5BoutsideIframe%5D=true&plugin%5BdimTheLights%5D%5BbackgroundColor%5D=%232d3235"
                      allowtransparency="true"
                      frameborder="0"
                      scrolling="no"
                      class="wistia_embed"
                      name="wistia_embed"
                      allowfullscreen
                      mozallowfullscreen
                      webkitallowfullscreen
                      oallowfullscreen
                      msallowfullscreen
                      width="800"
                      height="350">
              </iframe>
            </p>                 
          </div> <!-- /.col -->
          <div class="col-md-6 cushion-lg border-left">
            <div class="spacer"></div>
            <h1>
              线上店铺运营第一步，<br/>怎样选择自己有优势的领域.
            </h1>
            <p>
              所有的店铺起步阶段都是困难重重，无论你是含着金钥匙出生，
              还是一穷二白. 正确的选择一个有相对优势的领域，扬长避短，
              就会在后续的运营中事半功倍.
              <br>
              点击视频，看看怎样通过金冠·直通车聪明的选择适合自己的领域
            </p>
            <div class="divider"></div>
            <div class="spacer"></div>            
            <div class="spacer"></div>
            <div class="spacer"></div>
            <div class="spacer"></div>
            <div class="spacer"></div>
          </div> <!-- /.col -->
        </div> <!-- /.row -->
      </div> <!-- /.container -->
    </div> <!-- /.white -->
  </section>

  <section id="tim-pang">
    <div class="minitron">
      <div class="tim-pang-chang">
        <div class="container">
          <div class="wrapper">
            <div class="row">
              <div class="col-md-12" align="center">
                <h1>
                  经 历 成 长
                </h1>
              </div> <!-- /.col -->
            </div> <!-- /.row -->
          </div> <!-- /.wrapper -->
        </div> <!-- /.container -->
      </div> <!-- /.trusted -->
    </div> <!-- /.minitron -->
    <div class="white">
      <div class="container">
        <div class="row">
          <div class="col-md-6 cushion-lg border-right">
            <div class="spacer"></div>
            <div class="spacer"></div>
            <div class="spacer"></div>
            <h1>
              持续运营，如何在市场变化过程中跟进趋势，保持活跃.
            </h1>
            <p>
              经过了店铺初期的小试牛刀之后，生意开始慢慢进入正常轨道.
              这时的店铺需要更加紧密的跟进形势的变化，确保每一步都走得脚踏实地而又紧跟时局.
              <br>
              点击视频，查看怎样在金冠直通车的帮助下更轻松的进行日常店铺管理.
            </p>
            <div class="divider"></div>
            <div class="spacer"></div>
            <div class="spacer"></div>
            <div class="spacer"></div>
            <div class="spacer"></div> 
            <div class="spacer"></div>         
          </div> <!-- /.col -->
          <div class="col-md-6 cushion-lg padding-left">            
            <br>
            <p>
              <iframe src="//fast.wistia.net/embed/iframe/janqej3gzc?videoFoam=true&plugin%5BdimTheLights%5D%5Bsrc%5D=%2F%2Ffast.wistia.com%2Flabs%2Fdim-the-lights%2Fplugin.js&plugin%5BdimTheLights%5D%5BoutsideIframe%5D=true&plugin%5BdimTheLights%5D%5BbackgroundColor%5D=%232d3235"
                      allowtransparency="true"
                      frameborder="0"
                      scrolling="no"
                      class="wistia_embed"
                      name="wistia_embed"
                      allowfullscreen
                      mozallowfullscreen
                      webkitallowfullscreen
                      oallowfullscreen
                      msallowfullscreen
                      width="800"
                      height="450">
              </iframe>
            </p>
            <br>            
          </div> <!-- /.col -->
        </div> <!-- /.row -->
      </div> <!-- /.container -->
    </div> <!-- /.white -->
  </section>


  <section id="soma">
    <div class="minitron">
      <div class="soma">
        <div class="container">
          <div class="wrapper">
            <div class="row">
              <div class="col-md-12" align="center">
                <h1>
                  收 获 成 功
                </h1>
              </div> <!-- /.col -->
            </div> <!-- /.row -->
          </div> <!-- /.wrapper -->
        </div> <!-- /.container -->
      </div> <!-- /.trusted -->
    </div> <!-- /.minitron -->
    <div class="white">
      <div class="container">
        <div class="row">
          <div class="col-md-6 cushion-lg padding-right">           
            <br>
            <p>
              <iframe src="//fast.wistia.net/embed/iframe/blntplmw94?videoFoam=true&plugin%5BdimTheLights%5D%5Bsrc%5D=%2F%2Ffast.wistia.com%2Flabs%2Fdim-the-lights%2Fplugin.js&plugin%5BdimTheLights%5D%5BoutsideIframe%5D=true&plugin%5BdimTheLights%5D%5BbackgroundColor%5D=%232d3235"
                      allowtransparency="true"
                      frameborder="0"
                      scrolling="no"
                      class="wistia_embed"
                      name="wistia_embed"
                      allowfullscreen
                      mozallowfullscreen
                      webkitallowfullscreen
                      oallowfullscreen
                      msallowfullscreen
                      width="800"
                      height="350">
              </iframe>
            </p>            
          </div> <!-- /.col -->

          <div class="col-md-6 cushion-lg border-left">
            <a name="videos" id="videos" class="nav-offset"></a>
            <div class="spacer"></div>  
            <div class="spacer"></div>  
            <h1>
             扎实的运营，<br/>必定换来良好的效果.
            </h1>   
            <p>
              成交量在直通车协助下的持续运营过程中迅速放大，越来越多的竞争对手被抛在身后.
              这时，更需要精心经营，确保领先优势获得保持.
              <br>
              点击视频，看看怎样在获得市场领先之后，通过金冠·直通车持续保持优势
            </p>  
            <div class="divider"></div>
            <div class="spacer"></div>            
            <div class="spacer"></div>
            <div class="spacer"></div>
            <div class="spacer"></div>
            <div class="spacer"></div>                    
          </div> <!-- /.col -->

          
        </div> <!-- /.row -->
      </div> <!-- /.container -->
    </div> <!-- /.white -->
  </section>


  <div class="minitron">
    <div class="fitstar">
      <div class="container">
        <div class="wrapper">
          <div class="row">
            <div class="col-md-12" align="center">
              <h1>
                问 题 的 解 决
              </h1>
            </div> <!-- /.col -->
          </div> <!-- /.row -->
        </div> <!-- /.wrapper -->
      </div> <!-- /.container -->
    </div> <!-- /.trusted -->
  </div> <!-- /.minitron -->

  <div class="white">
    <div class="container">
      <div class="row">
        <div class="col-md-6 padding-right cushion-lg">
          <h1>
            金冠·直通车的使命就是帮助线上店铺运营进入智能化时代.
          </h1>
          <small>
          <p>
            作为电子商务运营行为的长期参与者与领导者，
            以及作为智能网络技术的探索者，我们充分意识到了运营工具的智能化对店铺的运营意味着什么.
            店铺的运营者，现在更多的时候是作为机器的存在，大量机械的重复性劳动大大消磨了运营人员的创意和精力.
            金冠·直通车，不仅帮您发现数据，更能帮您发现数据中的信息，这才是店铺运营的未来.
          </p>
        </small>
          <div class="divider"></div>
          <div class="spacer"></div>
          <div class="testimonial">
            <div class="headshot">
              <img src="/static/img/articles/testimonial-mike-maser.jpg"
                   class="img-circle"
                   width="75"
                   height="75">
            </div> <!-- /.headshot -->
            <div class="quote small">
              <blockquote>
                <p>
                  <em>
                    “加入直通车的感觉就像一下子推开了一扇门，
                    让我们看到了线上店铺运营的美. 运营之美，只有金冠·直通车这里才能真切的体会到. ”
                  </em>
                </p>
              </blockquote>
              <div class="name">
                &mdash; 孙先生 
                <em class="x-small">
                   CEO &amp; 投资人, 电子商务服务公司
                </em>                
              </div>
            </div> <!-- /.quote -->
          </div> <!-- /.testimonial -->
        </div> <!-- /.col -->
        <div class="col-md-6 cushion-lg border-left">
          <p>
            <img src="/static/img/articles/logo-fitstar.jpg">
          </p>
          <br>
          <h4>
            <strong>
              当前的挑战
            </strong>
          </h4>
          <p>
            当我们开始筹备一个店铺的时候，会涉及到各个方面的问题，
            货源，店铺设计，定价，SEO，活动策划，物流，包装，客户服务等等等等.
            从上线的第一天，就开始跟时间赛跑，跟竞争对手赛跑. 
            金冠·直通车的存在，就是让小主能更快地突破壁垒，赢在对手的前面. 
            我们能帮助您争取到更多的时间，获得更多的决策窗口，这对于店铺的成功运营，无疑是至关重要的.            
          </p>
          <br>
          <h4>
            <strong>
              为何一定要选择金冠·直通车？
            </strong>
          </h4>
          <p>
            无论小主是已经有了店铺，还是您正准备进入未来最大的在线电子商务市场，
            金冠·直通车都能给您带来极大地帮助. <br>
            当前仅仅只是淘宝上，就有1000万以上的大大小小的店铺，还不包括京东、亚马逊、聚美等各类支持
            第三方开店的线上平台，竞争的激烈可想而知. 在这样的环境中，如何快速的把握竞争对手的运营手段，
            掌握店铺线上的应对措施，成为了大家最“痛”的“痛点”.
            金冠·直通车通过线上的云技术平台，竭力帮助小主解决最基本的运营问题，让您可以有更多的时间运筹帷幄.
            即使是即将开店的小主，也能通过我们的平台获得更为清晰的新店上线运营思路.
          </p>
          <br>
          <h4>
            <strong>
              金冠·直通车解决的问题
            </strong>
          </h4>
          <p>
            对我们的客户、合作伙伴而言，金冠·直通车的存在打开了一个全新的智能店铺运营时代.<br>
            广大的中小店铺运营人员从此可以摆脱复杂繁琐的无意义的运营基础工作，
            而且可以通过智能云平台随时获得针对自己的店铺最贴心和专业的进一步运营参考建议.
            我们持续演进的云端智库，更能及时跟进各大电商平台的新运营举措，随时给店主直接的运营协助，而这些，
            都是在以“案例”为对象的培训课程中无法获得的.
            店铺的运营是持续努力的过程，但金冠·直通车的目标是让小主的努力更有效率，赚钱效率更高.
          </p>
          <br>
          
        </div> <!-- /.col -->
      </div> <!-- /.row -->
    </div> <!-- /.container -->
  </div> <!-- /.white -->
 

  <script src="//fast.wistia.com/static/iframe-api-v1.js"></script>

      <div class="dark border">
      <div class="cushion inner-border">
        <div class="container">
          <div class="row">
            <div class="col-md-12" align="center">
              {{if .IsLogined}}
                <h1>欢迎加入金冠直通车！</h1>
                <p>我们的软件会跟着小主的店铺一并成长，让小主在获得财富的同时，更获得生活的健康和快乐。</p>
                <a href="/dailyreport"><button class="btn btn-dark btn-lg" type="button">看看我的店铺</button></a>
              {{else}}
                <h1>马上开始激动人心的店铺运营之旅！</h1>
                <p>加入金冠直通车，让店铺的运营变得不再痛苦，极具生命力的店铺运营手段和科学技巧将会帮您获得比其他店铺更多的竞争优势。</p>              
                <br>
                <a href="/register#accreg"><button class="btn btn-dark btn-lg" type="button">我要马上加入</button></a>
              {{end}}
              <div class="spacer"></div>
            </div> <!-- /.col -->
          </div> <!-- /.row -->
        </div> <!-- /.container -->
      </div> <!-- /.cushion -->
    </div> <!-- /.dark -->

    {{template "footer" .}}
</div>
</body>
<script type="text/javascript">
  accountform.targetshopid.value = "{{.watchedShopId}}";
  accountform.targetshopname.value = "{{.watchedShopName}}";
  accountform.targetshoptype.value = "{{.watchedShopType}}";
  accountform.myshopid.value = "{{.watcherShopId}}";
  accountform.myshopname.value = "{{.watcherShopName}}";
  accountform.myshoptype.value = "{{.watcherShopType}}";
</script>
</html>