{{template "header" .}}
    <title> 当期报告-金冠直通车 · 中小规模电商运营第一品牌.
    </title>
  </head>
  <body data-spy="scroll" data-target="#scrollspy" class="">
    <div class="container-full">
    <!-- Global navigation scheme(s)
    ================================================== -->
    {{template "navibar" .}}
  <div class="jumbotron">
      <div class="dailyreport"> <!-- Calling the background image -->
        <div class="container">
          <div class="wrapper">
            <div class="row">
              <div class="col-md-12">
                
        <div align="center">
          <div class="col-md-12">
            <br>
            <h1 class="framed">
              当 期 报 告
            </h1>
          </div> <!-- /.col -->
        </div> <!-- /.row -->      
              </div> <!-- /.col -->
            </div> <!-- /.row -->
          </div> <!-- /.wrapper -->
        </div> <!-- /.container -->
      </div> <!-- /.landing -->
    </div> <!-- /.jumbotron -->

    <div class="light"> <!-- Calling the color and border; eg. 'blue border' -->
      <div class="cushion">
        <div class="container">
          <div class="row">
            <div class="col-md-12" align="center">
              <h1 class="framed" align="center">
                以下为当期（<font color="fa8383">2015-01-26 9:00:00</font>）店铺智能运营报告
              </h1>
            </div> <!-- /.col -->
          </div> <!-- /.row -->
        </div> <!-- /.container -->
      </div> <!-- /.cushion -->
    </div> <!-- /.empty -->


      <div class="white">
  
          <div class="container">                      
                <div class="row row-centered">
      <div class="pricing-tables attached">
        
      



        <div class="col-sm-6 col-md-6">
      <div class="plan">
        <div class="head">
          小主店铺整体指数
        </div>
        <div class="price">
          <mini><i class="fa fa-lg fa-arrow-circle-o-up" style="color:red;"></i></mini> 5.93
          <mini>分</mini>
          <div class="billed">
            <small>当期较上期整体指数略有下降，属正常范围之内(+/-5%)</small>
            <br>
            <span class="text-muted">              
                <small>查看以下智囊团给出的运营锦囊吧</small>              
            </span>
          </div>
          <a href="/" class="btn btn-lg btn-success">
            更多细节
          </a>
        </div>
        <ul class="item-list">
          <li class="plan-description empty">
            店铺当期整体态势平稳，但行情变化季节波动明显，请小主多多关注.目标店铺动作颇多，值得小心。
          </li>
          <li data-toggle="popover" data-content="" data-original-title="" title="">
            <strong>
              <img src="/static/img/service/circle-ok-green.png" width="20" height="20">
              当期店铺上新指数强劲，对店铺排名拉升效果明显！             
            </strong>
          </li>          
          <li data-toggle="popover" data-content="" data-original-title="" title="">
              <img src="/static/img/service/circle-ok-green.png" width="20" height="20">
              当期店铺服务指数略有下滑，目标店铺该指数上升
          </li>
          <li data-toggle="popover" data-content="" data-original-title="" title="">
            <img src="/static/img/service/circle-ok-green.png" width="20" height="20">
            当期店铺热销指数上升态势良好，目标店铺该指数相对下降
          </li>
          <li data-toggle="popover" data-content="" data-original-title="" title="">
            <img src="/static/img/service/circle-ok-green.png" width="20" height="20">
            当期店铺动态指数略有下滑，需要关注
          </li>          
        </ul>
      </div>
    </div>




        


     <div class="col-sm-6 col-md-6">
      <div class="plan" >
        <div class="head"  style="background:#ffd885;">
          目标店铺整体指数
        </div>
        <div class="price"  style="background:#ffd885;">
          <mini><i class="fa fa-lg fa-arrow-circle-o-down" style="color:green;"></i></mini>4.93
          <mini>分</mini>
          <div class="billed">
            <small>店铺服务指数比上期下降4.93分，小主要加油哦!
            <br>
            <span class="text-muted">              
                查看以下智囊团给出的运营锦囊吧！              
            </span>
            </small>
          </div>
          <a href="/dailyreport/servicedetails" class="btn btn-lg btn-success">
            更多细节
          </a>
        </div>
        <ul class="item-list">
          <li class="plan-description empty">
            本期店铺服务指数走向偏弱，小主请具体查看以下相关指数获得更进一步的运营思路提示.
          </li>
          <li data-toggle="popover" data-content="" data-original-title="" title="">
            <strong>
              <img src="/static/img/service/circle-ok-green.png" width="20" height="20">30天退款率较上期上升0.13%，退款次数增加3次，请注意              
            </strong>
          </li>
          
          <li data-toggle="popover" data-content="Your ZA will be online and working from 9am
                            to 6pm in your choice of Eastern or Pacific
                            Time Zone." data-original-title="" title="">
            <img src="/static/img/service/circle-ok-green.png" width="20" height="20">目标店铺近30天纠纷率下降0.01%，较小主店铺指数高0.01%
          </li>
          <li data-toggle="popover" data-content="Scheduling, travel and other time-sensitive
                            tasks are prioritized." data-original-title="" title="">
            <img src="/static/img/service/circle-ok-green.png" width="20" height="20">近30天纠纷/投诉量较上期没有增加，数据持平。
          </li>
          <li data-toggle="popover" data-content="Send your tasks in via email or by calling
                            your ZA directly." data-original-title="" title="">
            <img src="/static/img/service/circle-ok-green.png" width="20" height="20">本期较上期双方均没有发生处罚数增加，小主注意保持
          </li>          
        </ul>
      </div>
    </div>


    

  


    <div class="col-sm-6 col-md-6">
      <div class="plan">
        <div class="head">
          小主店铺上新指数
        </div>
        <div class="price">
          <mini><i class="fa fa-lg fa-arrow-circle-o-down" style="color:green;"></i></mini>4.93
          <mini>分</mini>
          <div class="billed">
            <small>店铺本期较上期分数上升4.93分，继续加油！
              <br>
            <span class="text-muted">              
                查看以下智囊团给出的运营锦囊吧！              
            </span>
            </small>
          </div>
          <a href="/dailyreport/hardwaredetails" class="btn btn-lg btn-success">
            更多细节
          </a>
        </div>
        <ul class="item-list">
          <li class="plan-description empty">
            本期上新指数较上期有提升，具体请参考以下提示。
          </li>
          <li data-toggle="popover" data-content="" data-original-title="" title="">
            <strong>
             <img src="/static/img/service/circle-ok-green.png" width="20" height="20">
             店铺当期上新数量占整体比率XX%
            </strong>
          </li>
          <li data-toggle="popover" data-content="" data-original-title="" title="">           
              <img src="/static/img/service/circle-ok-green.png" width="20" height="20">
              店铺当期上新产生销量XXX件            
          </li>
          <li data-toggle="popover" data-content="" data-original-title="" title="">
            <img src="/static/img/service/circle-ok-green.png" width="20" height="20">
             店铺当期上新产生销售XXX
          </li>
          <li data-toggle="popover" data-content="" data-original-title="" title="">
            <img src="/static/img/service/circle-ok-green.png" width="20" height="20">
             店铺当期上新获得评价XX条
          </li>
                   
        </ul>
      </div>
    </div>

        


 



        <div class="col-sm-6 col-md-6">
      <div class="plan">
        <div class="head"  style="background:#ffd885;">
          目标店铺上新指数
        </div>
        <div class="price"  style="background:#ffd885;">
          <mini><i class="fa fa-lg fa-arrow-circle-o-down" style="color:green;"></i></mini>4.05
          <mini>分</mini>
          <div class="billed">
           <small>店铺本期上新指数较上期上升3.53分，形势不错！

            <br>
            <span class="text-muted">
              
                查看以下智囊团给出的运营锦囊吧！
              
            </span>
            </small>
          </div>
          <a href="" class="btn btn-lg btn-success">
            更多细节
          </a>
        </div>
        <ul class="item-list">
          <li class="plan-description empty">
            小主店铺本期上新指数呈上升趋势，较前一期有一定的提升，与目标店铺相比，增长幅度较好.
          </li>
          <li data-toggle="popover" data-content="" data-original-title="" title="">
            <strong>
              <img src="/static/img/service/circle-ok-green.png" width="20" height="20">
              本期上新品3件，目标店铺本期上新2件
            </strong>
          </li>
          <li data-toggle="popover" data-content="" data-original-title="" title="">
              <img src="/static/img/service/circle-ok-green.png" width="20" height="20">
              本期新品售价范围30~60元，目标店铺本期新品售价范围20~70元
          </li>
          <li data-toggle="popover" data-content="" data-original-title="" title="">
            <img src="/static/img/service/circle-ok-green.png" width="20" height="20">
              新品本期新增收藏0个，目标店铺本期新品新增收藏2个
          </li>
          <li data-toggle="popover" data-content="" data-original-title="" title="">
              <img src="/static/img/service/circle-ok-green.png" width="20" height="20">
              本期新品成交量0个，目标店铺本期新品成交量1个
          </li>          
        </ul>
      </div>
    </div>  



       <div class="row disclaimer"><br/><br/></div>



        <div class="col-sm-6 col-md-6">
      <div class="plan">
        <div class="head">
          小主店铺热销指数
        </div>
        <div class="price">
          <mini><i class="fa fa-lg fa-arrow-circle-o-down" style="color:green;"></i></mini>4.93
          <mini>分</mini>
          <div class="billed">
            <small>
              本期热销指数较上期下降3.09分，注意检查螺旋曲线数值
            <br>
            <span class="text-muted">
              查看以下智囊团给出的运营锦囊吧！                
            </span>
          </small>
          </div>
          <a href="" class="btn btn-lg btn-success">
            更多细节
          </a>
        </div>
        <ul class="item-list">
          <li class="plan-description empty">
            本期店铺热销指数上升4.35分，销量持续上升。目标店铺本期热销指数上升3.98分，增长一般。
          </li>
          <li data-toggle="popover" data-content="" data-original-title="" title="">
            <strong>
              <img src="/static/img/service/circle-ok-green.png" width="20" height="20">
              店铺商品上架以来，有XXX项商品累计销量超过XXX件
            </strong>
          </li>
          <li data-toggle="popover" data-content="" data-original-title="" title="">
              <img src="/static/img/service/circle-ok-green.png" width="20" height="20">
              当期架上商品有XXX项销量超过XXX件
          </li>
          <li data-toggle="popover" data-content="" data-original-title="" title="">
              <img src="/static/img/service/circle-ok-green.png" width="20" height="20">
              当期有XXX项商品新增评论超过XX条
          </li>
          <li data-toggle="popover" data-content="" data-original-title="" title="">
              <img src="/static/img/service/circle-ok-green.png" width="20" height="20">
              店铺本期较上期新增销售额2612元（公开数据）
          </li>          
        </ul>
      </div>
    </div>





        <div class="col-sm-6 col-md-6">
      <div class="plan">
        <div class="head"  style="background:#ffd885;">
          目标店铺热销指数
        </div>
        <div class="price"  style="background:#ffd885;">
          <mini><i class="fa fa-lg fa-arrow-circle-o-down" style="color:green;"></i></mini>4.93
          <mini>分</mini>
          <div class="billed">
            <small>
              本期店铺评价指数上升4.5分，态势良好
              <br>
              <span class="text-muted">
              查看以下智囊团给出的运营锦囊吧！
              </span>
          </small>
          </div>
          <a href="" class="btn btn-lg btn-success">
            更多细节
          </a>
        </div>
        <ul class="item-list">
          <li class="plan-description empty">
            
            本期店铺评价指数上升4.5分, 目标店铺评价指数为0，天猫店无相关信息.
          </li>
          <li data-toggle="popover" data-content="" data-original-title="" title="">
            <strong>
              <img src="/static/img/service/circle-ok-green.png" width="20" height="20">
              店铺商品上架以来，有XXX项商品累计销量超过XXX件
            </strong>
          </li>
          <li data-toggle="popover" data-content="" data-original-title="" title="">
              <img src="/static/img/service/circle-ok-green.png" width="20" height="20">
              当期架上商品有XXX项销量超过XXX件
          </li>
          <li data-toggle="popover" data-content="" data-original-title="" title="">
              <img src="/static/img/service/circle-ok-green.png" width="20" height="20">
              当期有XXX项商品新增评论超过XX条
          </li>
          <li data-toggle="popover" data-content="" data-original-title="" title="">
              <img src="/static/img/service/circle-ok-green.png" width="20" height="20">
              店铺本期较上期新增销售额2612元（公开数据）
          </li>          
        </ul>
      </div>
    </div>




 



    <div class="col-sm-6 col-md-6">
      <div class="plan">
        <div class="head">
          小主店铺动态指数
        </div>
        <div class="price">
          <mini><i class="fa fa-lg fa-minus-circle" style="color:blue;"></i></mini>0
          <mini>分</mini>
          <div class="billed">
           <small>
            本期店铺动态指数整体持平
            <br>
            <span class="text-muted">            
              查看以下智囊团给出的运营锦囊吧！             
            </span>
          </small>
          </div>
          <a href="" class="btn btn-lg btn-success">
            更多细节
          </a>
        </div>
        <ul class="item-list">
          <li class="plan-description empty">
            本期店铺动态评分较上期有比较好的变化，三项主要指数均飘红.
          </li>
          <li data-toggle="popover" data-content="" data-original-title="" title="">
            <strong>
              <img src="/static/img/service/circle-ok-green.png" width="20" height="20">
              发货速度由绿变红              
            </strong>
          </li>
          <li data-toggle="popover" data-content="" data-original-title="" title="">
            <img src="/static/img/service/circle-ok-green.png" width="20" height="20">
            服务态度维持行业水准以上
          </li>
          <li data-toggle="popover" data-content="" data-original-title="" title="">
            <img src="/static/img/service/circle-ok-green.png" width="20" height="20">
            目标店铺发货速度飘绿，有机会赶超
          </li>
          <li data-toggle="popover" data-content="" data-original-title="" title="">
            <img src="/static/img/service/circle-ok-green.png" width="20" height="20">
            宝贝描述相符情况较好
          </li>
        </ul>
      </div>
    </div>

       

  



    <div class="col-sm-6 col-md-6">
      <div class="plan">
        <div class="head"  style="background:#ffd885;">
          目标店铺动态指数
        </div>
        <div class="price"  style="background:#ffd885;">
          <mini><i class="fa fa-lg fa-arrow-circle-o-up" style="color:red;"></i></mini> 6
          <mini>分</mini>
          <div class="billed">
            <small>
              本期信用指数增加6分
              <br>
              <span class="text-muted">              
              查看以下智囊团给出的运营锦囊吧！
              </span>
            </small>
          </div>
          <a href="https://www.zirtual.com/signup/vip/get-started/annual/" class="btn btn-lg btn-success">
            更多细节
          </a>
        </div>
        <ul class="item-list">
          <li class="plan-description empty">
            本期新增2个好评，信誉点数增加6分.
          </li>
          <li data-toggle="popover" data-content="" data-original-title="" title="">
            <strong>
              <img src="/static/img/service/circle-ok-green.png" width="20" height="20">
              信誉总点数距下一级25点
            </strong>
          </li>
          <li data-toggle="popover" data-content="" data-original-title="" title="">
            <img src="/static/img/service/circle-ok-green.png" width="20" height="20">
            目标店铺信誉总数12536点
          </li>
          <li data-toggle="popover" data-content="" data-original-title="" title="">
            <img src="/static/img/service/circle-ok-green.png" width="20" height="20">
            本期未发生信誉扣减情况
          </li>
          <li data-toggle="popover" data-content="" data-original-title="" title="">
            <img src="/static/img/service/circle-ok-green.png" width="20" height="20">
            目标店铺本期未发生信誉扣减情况
          </li>         
        </ul>
      </div>
    </div>


 


      </div> <!-- /.pricing-tables -->
    </div> <!-- /.row  center-->

                  <div class="row disclaimer">

      <p class="text-muted small">
        *由于数据获取有一定的时效性，以上数据仅展现截至时间段相关数据的准确报告，请务必综合考虑实际情况采用.
        <br>
        *不同的服务条款可以获得不同的数据服务等级，具体请参见<a href="/service">服务体系管理</a>.
      </p>
    </div> <!-- /.row -->

          
          
          </div> <!-- ./container -->
   
      </div> <!-- ./light -->


      <div class="blue border">
      <div class="cushion inner-border">
        <div class="container">
          <div class="row">
            <div class="col-md-8">
              <h1>想让数据变得更聪明？快到账户管理后台的“投诉建议”告诉我们吧.</h1>
            </div> <!-- /.col -->
            <div class="col-md-4">
              <p><em>很多时候，只是一个小小的举动，就可以让生活更加美好 <i class="fa fa-lg fa-smile-o" style="color:#686868;"></i> !</em></p>
              <a href="/account#feedback"><button class="btn btn-blue btn-lg" type="button">现在就去！</button></a>
            </div> <!-- /.col -->
          </div> <!-- /.row -->
        </div> <!-- /.container -->
      </div> <!-- /.cushion -->
    </div> <!-- /.blue -->
     
   
    {{template "footer" .}}
</div>
</body></html>