{{template "header" .}}
    <title> 常见问题-金冠直通车 · 中小规模电商运营第一品牌.
    </title>
  </head>
  <body data-spy="scroll" data-target="#scrollspy" class="">
    <div class="container-full">
    <!-- Global navigation scheme(s)
    ================================================== -->
    {{template "navibar" .}}
  
    <div class="jumbotron">
        <div class="our-story">
          <div class="container">
            <div class="wrapper">
              <div class="row">
                <div class="col-md-10">
                  <h1>
                    
                  </h1>
                </div> <!-- /.col -->
              </div> <!-- /.row -->
              <div class="row">
                <div class="col-md-12">
                  
      <div class="row" align="center">
        <div class="col-md-12">
          <br>
          <h1 class="framed">
            常 见 问 题
          </h1>
        </div> <!-- /.col -->
      </div> <!-- /.row -->

                </div> <!-- /.col -->
              </div> <!-- /.row -->
            </div> <!-- /.wrapper -->
          </div> <!-- /.container -->
        </div> <!-- /.landing -->
      </div>



      <div class="light">
    <div class="cushion">
      <div class="container">
        <div class="row">
          <div class="col-md-12" align="center">
            <h1>
              小主的问题，我们都能帮你找到答案.
            </h1>
          </div> <!-- /.col -->
        </div> <!-- /.row -->
      </div> <!-- /.container -->
    </div> <!-- /.cushion -->
  </div>




    <div class="white">
    <div class="container">
      <div class="row">
        <div class="col-md-3 cushion">
          <div class="spacer"></div>
          <ul class="nav nav-pills nav-stacked">
            <li class="active">
              <a href="#">
                常见问题
              </a>
              <ul class="nav nav-pills nav-stacked">
                <li>
                  <a href="#plan-faqs" id="anchor2" class="anchorLink">
                    服务体系相关
                  </a>
                </li>
                <li>
                  <a href="#operating-faqs" id="anchor3" class="anchorLink">
                    店铺运营相关
                  </a>
                </li>               
              </ul>
            </li>            
          </ul>
        </div> <!-- /.col -->
        <div class="col-md-8 border-left cushion-lg">
          <a name="plan-faqs" id="plan-faqs" class="nav-offset"></a>
          <h1>
            服务体系相关
          </h1>
          <div class="spacer"></div>
          <p>
  <strong>
    什么是目标店铺?
  </strong>
  <br>
  <small>
  目标店铺是小主在店铺运营过程中需要持续关注的竞争对手，或者行业内值得参考的同行对象. 通过金冠·直通车的运营服务，小主可以直观的考察到目标店铺的运营行为，为自身店铺的运营提供最有价值的参考.
</small>
</p>

          <div class="divider-lg"></div>
          <br>
          <p>
  <strong>每日的运营数据包含什么内容？</strong>
  <br>
  <small>
  每日运营数据包含了目标店铺和小主店铺相关关键性指标的平台监控结果.
</small>
</p>
<p>
  <small>
  小主可以通过监控数据及时了解到店铺运营上的一些缺陷，通过对比目标店铺的相关运营数据，
  调整自己店铺的后续线上运营方案， 达到迅速接近甚至超越目标店铺的效果.
</small>
</p>

          <div class="divider-lg"></div>
          <br>
          <a name="branded-email" id="branded-email" class="nav-offset"></a>
          <p>
  <strong>
    数据的时效性是什么意思? 
  </strong>
  <br>
  <small>
  运营数据的时效性指的是数据获取的最近时间，时效性越短的数据，新鲜程度越高，对店铺运营的动态效果体现就越鲜活.
</small>
  <br>
  <small>
  数据的时效性对及时调整店铺的运营策略有很大的影响，一般而言，大部分店铺需要的数据时效性在24小时以内就足以支撑店铺的日常运营了. 而在一些特殊情况下，如大型的线上活动时期，更及时的信息反馈对于店铺运营而言具有更重要的指导意义.
</small>
</p>

          <div class="divider-lg"></div>
          <br>
          <p>
  <strong>
    为什么到总裁级别的智囊团才有针对性运营建议？
  </strong>
  <br>
  <small>
  其实在每个级别的服务体系中都有相应的针对性运营建议，总裁以上级别与前面一些级别的区别是真实专家的介入. 除了更多参考店铺的数据被专家加入分析之外，针对小主店铺的专项分析也会更优于纯智能系统给出的运营建议. 我们的总裁级智囊团成员均是多年运营相关领域产品的专业人员，并在各自领域均具有成功的运营操盘经验， 所提出的建议能更好的协助小主经营店铺.
</small>
</p>

          <div class="divider-lg"></div>
          <br>
          <p>
            <strong>
              开通金冠·直通车VIP有什么好处?
            </strong>
            <small>
            <br>
            开通VIP，除了可以在运营上“货比三家”，更有其他级别不具有的优势！
            <br>
            VIP运营数据可以做到6小时之内的时效性，按照我们的系统架构设计，将来还有可能做到1小时， 这对已经在同行取得一定地位优势的店铺来说具有更为明显的优势.
            <br>
            金冠·直通车针对线上店铺运营会持续推出更方便，更易用的运营体系和运营工具，这些“先锋”的内容， VIP用户都可以直接享用，无需付费. 在店铺的日常运营中，我们也会更多的搜集VIP客户的个性化需求，持续协助他们进行有针对性的改进， 甚至在适当的时候，提供VIP客户的专属版本产品. VIP用户更拥有24小时响应服务的特权，有助于小主更快速的获得反馈和技术调整，满足您店铺运营的更高级需求.
          </small>
          </p>         
          <div class="divider-lg"></div>
          <br>
          <p>
          <strong>
            服务能否按月开通？
          </strong>
          <small>
          <br>
          由于支付系统还没有完全做到自动化处理，所以我们对订单的更进一步明细化支持还没能实现.
          <br>
          因此暂时我们还只能支持年度服务订单，当然，我们倾向于先开通年度订单的原因还有很重要的一点， 即店铺的运营是一个持续性的过程，只是一两个月的数据很多时候看不出来有什么好的效果， 需要一个相对较长时间的持续关注才有效.
        </small>
        </p>

          
          <div class="divider-lg"></div>
          <br>
          <p>
            <strong>
              问题解答意犹未尽？没关系，登陆到后台直接反馈给我们吧.
            </strong>
            {{if .IsLogined}}
            <a href="/account" class="more">
            {{else}}
            <a href="/register" class="more">
            {{end}}
              马上提交反馈
            </a>
          </p>
          
          <br>
          <div class="spacer"></div>
          <a name="operating-faqs" id="operating-faqs" class="nav-offset"></a>
          <h1>
            店铺运营相关
          </h1>
          <div class="spacer"></div>
          <p>
  <strong>
    还没有线上店铺的是否值得加入金冠·直通车？
  </strong>
  <br>
  <small>
   当然可以，而且更有好处！
   <br>
   小主通过一段时间对目标店铺运营手段和方法的全面了解，可以更快地抓住关注的行业和领域的市场动向.
   同时，可以持续分析和对比自己将来店铺的定位和运营手法，从而在店铺上线的时候更能抓住运营重点，
   大大提供新店铺的运营成功概率.
   <br>
   另外，通过持续分析目标店铺和获取云智库的运营分析建议，可以比单纯观看线上运营教程或者所谓的“案例”实操获得更为真切的体验，
   这才是真正的“实操”行为！
  </small>
  </p>
          <div class="divider-lg"></div>
          <br>
          <p>
  <strong>
    我其实只关心店铺运营的一个方面，有必要加入金冠·直通车吗？
  </strong>
  <small>
  <br>
  店铺的运营是一个系统性行为，而绝非片面的一两个点.
  <br>
  我们所呈现给小主的是整个店铺的整体效果“剪影”，通过一系列的运营图景帮助小主重现整个店铺运营的时间轴及相关因素的影响.
  而且，我们的角度完全独立而客观，可以使小主在比较运营前后的数据过程中获得更为权威的参考数据，从而做出正确的运营判断.
  <br>
  店铺的运营已经进入了海陆空作战的全方位竞争时代，仅仅关注一个方面，如SEO，或者新品选择，是很难保证成功概率的，这就是金冠·直通车的优势！
</small>
</p>

          <div class="divider-lg"></div>
          <br>
          <p>
  <strong>
    运营数据里提供的进一步运营建议是什么人提供的？
  </strong>
  <br>
  <small>
    我们的后台云智库会根据过往海量的店铺运营专家提供的数据分析建议，结合当期小主店铺获取的运营数据，
    提供给小主下一步的运营参考意见.
    <br>
    意见的提供是系统根据一套复杂的数据趋势分析算法从专家知识库中提取出来的，小主可以根据数据和给出的建议进行下一步的运营操作行为.
    根据我们过往的数据分析结果研究，运营建议的可靠性是比较高的.
  </small>
</p>

          <div class="divider-lg"></div>
          <br>
          <p>
  <strong>
    VIP用户的运营参考意见是真人提供的吗？
  </strong>
  <br>
  <small>
  是的.
  <br>
  VIP用户在这一点上比其他用户有更大的优势. VIP在金冠·直通车的身份不仅是我们的客户，
  更是能帮助我们一起向前走的核心助力，是我们最可信赖的合作伙伴.
  我们会针对VIP的特定需求，提供相关领域的行业专家，每天专门提供相应的运营服务，协助他们更好地应对市场环境的急剧变化.
  此外，VIP还会获得我们更多的资源倾斜，在行业竞争中将更具优势.
  </small>
</p>

          <div class="divider-lg"></div>
          <br>
          <p>
  <strong>
    我有一个店铺运营的智能工具需求，能帮我实现吗？
  </strong>
  <br>
  <small>
  当然！
  <br>
  我们非常乐意收到客户发过来的技术需求，并通过我们的技术人员的努力造福到更多的店铺！
  <br>
  提出需求，不仅是帮助了自己，更帮助了别人，如果小主有好的想法，不妨
      {{if .IsLogined}}
    <a href="/account">
      {{else}}
    <a href="/register">
      {{end}}
    发给我们</a>.
</small>
</p>
          <div class="divider-lg"></div>
      
          <strong>
              问题解答意犹未尽？没关系，登陆到后台直接反馈给我们吧.
            </strong>
            {{if .IsLogined}}
            <a href="/account" class="more">
            {{else}}
            <a href="/register" class="more">
            {{end}}
              马上提交反馈
            </a>
          </p>
        </div> <!-- /.col -->
      </div> <!-- /.row -->
    </div> <!-- /.container -->
  </div>


    {{template "footer" .}}
</div>
</body></html>