{{template "header" .}}
    <title> 金冠直通车 · 中小规模电商运营第一品牌.
    </title>
  </head>
  <body data-spy="scroll" data-target="#scrollspy" class="">
    <div class="container-full">
    <!-- Global navigation scheme(s)
    ================================================== -->
    {{template "navibar" .}}
    <div class="hero">
      <div class="landing"> <!--calling bg-->
        <div class="container">
          <div class="wrapper">
            <div class="row">
              <div class="col-md-2"></div>
              <div class="col-md-8" align="center">
                <div class="spacer-hero"></div>
                <h1>
                  店铺运营 · 每日生活</h1><h1>更好的平衡
                </h1>
                <p>
                  为中小店铺提供专业的个性化运营服务,
                  <br>
                  更智能的工具, 以及更少的运营费用和精力投入
                </p>
                <a href="http://player.youku.com/player.php/sid/XNzk1MjQ5MzQ0/v.swf" class="btn
                          btn-play
                          wistia-popover[height=450,playerColor=2d3235,width=800]">
                  ▶
                </a>
                <script charset="ISO-8859-1" src="/static/js/popover-v1.js">
                </script>
              </div> <!-- /.col -->
              <div class="col-md-2"></div>
            </div> <!-- /.row -->
            <div class="row">
              <div class="col-md-12" align="center">
                <div class="spacer-play"></div>
                <a href="/#learn-more" id="anchor2" class="anchorLink btn btn-lg btn-success">
                  了解更多
                </a>
                {{if .IsLogined}}
                {{else}}
                <em style="color:#b0babf;">或者</em>
                <a href="/login#acclogin" class="btn btn-lg btn-white">
                  登陆系统
                </a>
                {{end}}
              </div>
            </div>
          </div> <!-- /.wrapper -->
        </div> <!-- /.container -->
      </div> <!-- /.landing -->
    </div> <!-- /.hero -->
    <div class="light border">
      <div class="cushion inner-border">
        <div class="container">
          <div class="row">
            <div class="col-md-3">
              <a name="learn-more" id="learn-more" class="nav-offset"></a>
              <h4 class="increased-height text-muted">
                我们的数据同样也被以下店铺广泛使用着，在每日运营中，帮助更多的从业者更轻松的工作，更好的享受生活.
              </h4>
            </div> <!-- /.col -->
            <div class="col-md-9">
              <div id="carousel" class="carousel slide">
                <!-- Indicators -->             
                <!-- Wrapper for slides -->
                <div class="carousel-inner">
                  <div class="item active">
                    <img src="/static/img/index/logo-use-one1.png">
                  </div>               
                </div> <!-- /.carousel-inner -->
              </div> <!-- /.carousel -->
            </div> <!-- /.col -->
          </div> <!-- /.row -->
        </div> <!-- /.container -->
      </div> <!-- /.cushion -->
    </div> <!-- /.light -->
    <div class="white">
      <div class="col-md-6">
        <div class="cushion pad-left">
          <h1>
            数字化店铺运营时代，怎么及时把握数据背后的故事？
          </h1>
          <small>
          <p>
            线上店铺的竞争已经完全进入了数字化运营的时代，没有坚实的数据分析作为基础，
            想运营好店铺已经成为不可能完成的任务.
          </p>
        </p>
            垂直行业的竞争也已经进入白热化，什么产品能成为爆款，什么产品上了也是浪费精力，只有数据能告诉小主.
            金冠直通车，通过小主关注的行业和店铺的数据深入挖掘，能让您有一个更清晰的数据图景.
            更重要的是，我们能帮助小主从纷繁复杂的数据中及时发现关键的因素，而不用浪费小主更多的精力.
          </p>
        </small>
          <div class="divider-lg">
          </div>
          <p>
            <strong>
              在金冠直通车的帮助下，更准确的把握市场动向.
            </strong>
            <a href="/products" class="more">
              了解更多
            </a>
          </p>
        </div> <!-- /.cushion-lg -->
      </div> <!-- /.col -->
      <div class="col-md-offset-6">
        <img src="/static/img/index/panel-joanna.png" class="img-responsive" style="margin-top:-30px;">
      </div> <!-- /.col -->
    </div> <!-- /.white -->    
    <div class="light">
      <div class="cushion">
        <div class="container">      
            <div class="row">
              <div class="col-md-12" align="center">
                <h1>只是我们说好没用, <small><em>听听直通车的用户怎么说.</em></small></h1>
              </div>
            </div>
          
          <div class="row small">
            <div class="col-md-4">
      <div class="testimonial">
        <div class="headshot">
          <img src="/static/img/index/testimonial-leigh-gallagher.jpg" width="75" height="75">
        </div> <!-- /.headshot -->
        <div class="quote">
          <small>
          <p>  
      我是通过一个开店的同行介绍了解到金冠直通车的，我们最开始用的是基础的数据服务，就已经在我们日常运营中帮了大忙!
    </p><p>
      通过每天全面关注目标店铺的数据动向，我们的店铺运营很快上了轨道，流量和用户口碑都上了一个新台阶~! 
      现在，我们准备升级到总裁智囊团服务. 金冠直通车真是帮了大忙了.

          </p>
        </small>
        <div class="name">
          
      吴女士

        </div>
        <div class="divider"></div>
          <p class="small">
            
      <em>店长,</em>     
        <strong>3年店铺运营经验</strong>
    
          </p>
        </div> <!-- /.quote -->
      </div> <!-- /.testimonial -->
    </div> <!-- /.col -->
    <div class="col-md-4">
      <div class="testimonial">
        <div class="headshot">
          <img src="/static/img/index/testimonial-ben-parr.jpg" width="75" height="75">
        </div> <!-- /.headshot -->
        <div class="quote">
          <small>
          <p>
            我们之前用过很多店铺运营工具，有的效果还不错. 后来在一次偶然的机会了解到金冠直通车，反正费用也不高，
            抱着试一试的心态就尝试了一下基础服务.
            </p><p>
            经过几个月的使用，我们发现在金冠直通车的数据和专家分析建议之下，我们店铺的运营效果越来越好.而且更重要的是，
            我们的运营投入显著减少，由5个人减少到了2个人.
          </p>
        </small>
        <div class="name">
           钱总
        </div>
        <div class="divider"></div>
          <p class="small">
            
      <em>电商投资人, </em>
        <strong>天猫店铺合伙人</strong>
          </p>
        </div> <!-- /.quote -->
      </div> <!-- /.testimonial -->
    </div> <!-- /.col -->
    <div class="col-md-4">
      <div class="testimonial">
        <div class="headshot">
          <img src="/static/img/index/testimonial-matt-wyndowe.jpg" width="75" height="75">
        </div> <!-- /.headshot -->
        <div class="quote">
          <small>
          <p>
            我们操盘的是一个小众领域的商品，最开始我们以为小行业竞争可能没那么激烈.经过几个月实际运营，
            我们发现，其实小领域的竞争一点都不输于热门行业和领域的竞争.
          </p>
          <p>
            就在一筹莫展的时候，我们加入了直通车. 万万没想到，就是这一次合作，改变了我们运营的整个态势.
            我们成功的从分类领域的小玩家，慢慢进入了领先者的行列!
          </p>
        </small>
        <div class="name">
          赵先生
        </div>
        <div class="divider"></div>
          <p class="small">
            
      <em>运营经理, </em>
        <strong> 电子音响行业</strong>
          </p>
        </div> <!-- /.quote -->
      </div> <!-- /.testimonial -->
    </div> <!-- /.col -->

          </div> <!-- /.row -->
        </div> <!-- /.container -->
      </div> <!-- /.cushion -->
    </div> <!-- /.light -->
      <div class="white">
        <div class="col-md-6">
          <img src="/static/img/index/panel-axel.png" class="img-responsive" style="margin-top:-30px;" align="right">
        </div> <!-- /.col -->
        <div class="col-md-6">
          <div class="cushion pad-right">
            <h1>
              店铺运营越来越疲于奔命，托管运营风险失控？
            </h1>
            <small>
            <p>
              随着业务量和排名的提升，店铺的运营工作也越来越多，小主也会变得越来越忙碌.
              这时候，我们的独立运营支持的效果就体现出来了.              
            </p>
            <p>
              无须将店铺托管给第三方，无须将涉及个人和店铺隐私的数据提供给第三方，
              我们就能站在一个独立的立场，基于店铺和行业的数据整合，给小主的店铺运营提供更有效的建议.
              生活·店铺运营的完美平衡，是我们努力帮助您实现的目标. 当然，赚钱也必不可少.
            </p>
            </small>
            <div class="divider-lg"></div>
            <p>
              <strong>
                在金冠直通车的帮助下，更安全，更轻松的实现店铺运营.
              </strong>
              <a href="/products" class="more">
                了解更多
              </a>
            </p>
          </div> <!-- /.cushion -->
        </div> <!-- /.col -->
      </div> <!-- /.white -->
      <div class="minitron">
        <div class="trusted">
          <div class="container">
            <div class="wrapper">
              <div class="row">
                <div class="col-md-12" align="center">
                  <h1>
                    总监智囊 ￥1.93 /天 <mini>起</mini>.
                  </h1>
                </div> <!-- /.col -->
              </div> <!-- /.row -->
            </div> <!-- /.wrapper -->
          </div> <!-- /.container -->
        </div> <!-- /.trusted -->
      </div> <!-- /.minitron -->
      <div class="light border">
        <div class="cushion inner-border">
          <div class="container">
            <div class="row">
              <div class="col-md-7">
                <h1>
                  每个月只需要少抽两包烟，少聚一次餐，运营的费用就赚回来了!更别提在直通车的帮助下店铺业务的稳步增长带来的更多收益了！
                </h1>
              </div> <!-- /.col -->
              <div class="col-md-5">
                <br>
                <p class="text-muted">
                  有了直通车的帮忙，小主可以更专注于店铺运营的关键事项，而店铺运营数据分析的工作，请放心交给我们.
                </p>
              </div> <!-- /.col -->
            </div> <!-- /.row -->
          </div> <!-- /.container -->
        </div> <!-- /.cushion -->
      </div> <!-- /.light -->
      <div class="white">
        <div class="col-md-6">
          <div class="cushion-lg pad-left">
            <div class="spacer"></div>
            <h1>
              我们让与中小店铺相隔遥远的“大数据”变得实际，让“大数据”真正关心小主的店铺.
            </h1>
            <p>
              同行有将近42.23%的店铺在销售A产品，工商管理部门新出台的市场调查报告，A产品同类商品整体占有率15%.
              这些数据对我的店铺有什么直接的影响？我的店铺又应该怎样去调整以适应市场的变化？
            </p>
            <p>
              与店铺商品相关的上游厂商出现了大规模的质量问题，这些情况我怎样才能更早的比同行获取到相关资讯，
              以避免可能带来的批量损失？
            </p>
            <p>
              这些问题，直通车的数据和专家智囊团会告诉你！
            </p>
            <div class="divider-lg"></div>
            <p>
              <strong>
                在直通车的大数据和专家智囊团的协助下，小主的店铺运营将不再一头雾水.
              </strong>
            </p>
          </div> <!-- /.cushion-lg -->
        </div> <!-- /.col -->
        <div class="col-md-offset-6">
          <img src="/static/img/index/asset-iphone-hand-cropped1.png" class="img-responsive pull-right" style="margin-top:-70px;">
        </div> <!-- /.col -->
      </div> <!-- /.white -->



    <div class="light">
      <div class="cushion">
        <div class="container">
          
          <div class="row small">
            <div class="col-md-4">
      <div class="testimonial">
        <div class="headshot">
          <img src="/static/img/index/testimonial-ruth-ann.jpg" width="75" height="75">
        </div> <!-- /.headshot -->
        <div class="quote">
          <small>
          <p>
            在没有成为直通车会员之前，我每天在店铺上至少要关注14个小时才放心.
            成为会员之后，每天可以腾出4个小时关注家庭和孩子，这才是我想要的生活.
          </p>
        </small>
        <div class="name">
          
          黎女士

        </div>
        <div class="divider"></div>
          <p class="small">
            
      <em>店长, </em>
        <strong>淘宝女装店铺</strong>
         </p>
        </div> <!-- /.quote -->
      </div> <!-- /.testimonial -->
    </div> <!-- /.col -->
    <div class="col-md-4">
      <div class="testimonial">
        <div class="headshot">
          <img src="/static/img/index/testimonial-prabhakar-gopalan.jpg" width="75" height="75">
        </div> <!-- /.headshot -->
        <div class="quote">
          <small>
          <p>
            时至今日，数据已经成为了店铺运营的基础，为了搜集店铺运营需要的相关数据，
            我每天和运营成员用各种不同的工具采集市场上和网络上的相关数据. 这么做虽然效果很好，
            但是长期的重复性工作也让人疲惫不堪.
            采用了直通车的服务之后，这些工作都交给了直通车的智能软件去完成，我们可以有更多的时间、
            精力关注影响店铺的重点因素.            
          </p>
        </small>
        <div class="name">
          周先生
        </div>
        <div class="divider"></div>
          <p class="small">
            
      <em>运营总监, </em>
        <strong>天猫女装店铺</strong>
          </p>
        </div> <!-- /.quote -->
      </div> <!-- /.testimonial -->
    </div> <!-- /.col -->
    <div class="col-md-4">
      <div class="testimonial">
        <div class="headshot">
          <img src="/static/img/index/testimonial-jenny-blake.jpg" width="75" height="75">
        </div> <!-- /.headshot -->
        <div class="quote">
          <small>
          <p>
            从店铺上线之后就一直很忙碌，黑白颠倒. 我是一个家庭主妇，
            除了开店之外，还需要花时间照顾家庭和小孩. 用了直通车的服务之后，
            每天花在店铺上的时间不变，但是效率却高了很多，而且店铺的收入也增加了.
          </p>
        </small>
        <div class="name">
          范女士
        </div>
        <div class="divider"></div>
          <p class="small">
      <em>店长, </em>
        <strong>淘宝首饰店铺</strong>
          </p>
        </div> <!-- /.quote -->
      </div> <!-- /.testimonial -->
    </div> <!-- /.col -->
          </div> <!-- /.row -->
        </div> <!-- /.container -->
      </div> <!-- /.cushion -->
    </div> <!-- /.light -->




      <div class="dark border">
      <div class="cushion inner-border">
        <div class="container">
          <div class="row">
            <div class="col-md-12" align="center">
              {{if .IsLogined}}
                <h1>欢迎加入金冠直通车！</h1>
                <p>我们的软件会跟着小主的店铺一并成长，让小主在获得财富的同时，更获得生活的健康和快乐。</p>
                <a href="/dailyreport"><button class="btn btn-dark btn-lg" type="button">看看我的店铺</button></a>
              {{else}}
                <h1>马上开始激动人心的店铺运营之旅！</h1>
                <p>加入金冠直通车，让店铺的运营变得不再痛苦，极具生命力的店铺运营手段和科学技巧将会帮您获得比其他店铺更多的竞争优势。</p>              
                <br>
                <a href="/register#accreg"><button class="btn btn-dark btn-lg" type="button">我要马上加入</button></a>
              {{end}}
              <div class="spacer"></div>
            </div> <!-- /.col -->
          </div> <!-- /.row -->
        </div> <!-- /.container -->
      </div> <!-- /.cushion -->
    </div> <!-- /.dark -->
    {{template "footer" .}}
</div>
</body></html>