{{template "header" .}}
    <title> 加入我们-金冠直通车 · 中小规模电商运营第一品牌.
    </title>
  </head>
  <body data-spy="scroll" data-target="#scrollspy" class="">
    <div class="container-full">
    <!-- Global navigation scheme(s)
    ================================================== -->
    {{template "navibar" .}}
  
    <div class="jumbotron">
        <div class="our-story">
          <div class="container">
            <div class="wrapper">
              <div class="row">
                <div class="col-md-10">
                  <h1>
                    
                  </h1>
                </div> <!-- /.col -->
              </div> <!-- /.row -->
              <div class="row">
                <div class="col-md-12">
                  
      <div class="row" align="center">
        <div class="col-md-12">
          <br>
          <h1 class="framed">
            欢 迎 加 入
          </h1>
        </div> <!-- /.col -->
      </div> <!-- /.row -->

                </div> <!-- /.col -->
              </div> <!-- /.row -->
            </div> <!-- /.wrapper -->
          </div> <!-- /.container -->
        </div> <!-- /.landing -->
      </div>



      <div class="light">
    <div class="cushion">
      <div class="container">
        <div class="row">
          <div class="col-md-12" align="center">
            <h1>
              终于等到你，还好我们没放弃 <i class="fa fa-lg fa-smile-o" style="color:#aaaaaa;"></i>！
            </h1>
          </div> <!-- /.col -->
        </div> <!-- /.row -->
      </div> <!-- /.container -->
    </div> <!-- /.cushion -->
  </div>




    <div class="white">
    <div class="container">
      <div class="row">
        <div class="col-md-3 cushion">
          <div class="spacer"></div>
          <ul class="nav nav-pills nav-stacked">
            <li class="active">
              <a href="#">
                当前空缺
              </a>
              <ul class="nav nav-pills nav-stacked">
                <li>
                  <a href="#plan-faqs" id="anchor2" class="anchorLink">
                    服务体系相关
                  </a>
                </li>
                <li>
                  <a href="#operating-faqs" id="anchor3" class="anchorLink">
                    店铺运营相关
                  </a>
                </li>               
              </ul>
            </li>            
          </ul>
        </div> <!-- /.col -->
        <div class="col-md-8 border-left cushion-lg">
          <a name="plan-faqs" id="plan-faqs" class="nav-offset"></a>
          <h1>
            服务体系相关
          </h1>
          <div class="spacer"></div>
          <p>
  <strong>
    
  </strong>
  <br>
  暂时没有空缺哦~.
</p>

          <div class="divider-lg"></div>
          <br>
          

          
          <br>
          <div class="spacer"></div>
          <a name="operating-faqs" id="operating-faqs" class="nav-offset"></a>
          <h1>
            店铺运营相关
          </h1>
          <div class="spacer"></div>
          <p>
  <strong>
    
  </strong>
  <br>
  暂时没有空缺哦~！
</p>


          <div class="divider-lg"></div>
          <br>
          
        </div> <!-- /.col -->
      </div> <!-- /.row -->
    </div> <!-- /.container -->
  </div>


    {{template "footer" .}}
</div>
</body></html>