{{template "header" .}}
    <title> 联系方式-金冠直通车 · 中小规模电商运营第一品牌.
    </title>
  </head>
  <body data-spy="scroll" data-target="#scrollspy" class="">
    <div class="container-full">
    <!-- Global navigation scheme(s)
    ================================================== -->
    {{template "navibar" .}}
  
    <div class="jumbotron">
        <div class="our-story">
          <div class="container">
            <div class="wrapper">
              <div class="row">
                <div class="col-md-10">
                  <h1>
                    
                  </h1>
                </div> <!-- /.col -->
              </div> <!-- /.row -->
              <div class="row">
                <div class="col-md-12">
                  
      <div class="row" align="center">
        <div class="col-md-12">
          <br>
          <h1 class="framed">
            联 系 方 式
          </h1>
        </div> <!-- /.col -->
      </div> <!-- /.row -->

                </div> <!-- /.col -->
              </div> <!-- /.row -->
            </div> <!-- /.wrapper -->
          </div> <!-- /.container -->
        </div> <!-- /.landing -->
      </div>



      <div class="light">
    <div class="cushion">
      <div class="container">
        <div class="row">
          <div class="col-md-12" align="center">
            <h1>
              我们欢迎小主以任何方式与我们联系.
            </h1>
          </div> <!-- /.col -->
        </div> <!-- /.row -->
      </div> <!-- /.container -->
    </div> <!-- /.cushion -->
  </div>




    <div class="white">
    <div class="container">
      <div class="row">
        <div class="col-md-3 cushion">
          <div class="spacer"></div>
          <ul class="nav nav-pills nav-stacked">
            <li class="active">
              <a href="#">
                联系方式
              </a>
              <ul class="nav nav-pills nav-stacked">
                <li>
                  <a href="#weibo" id="anchor2" class="anchorLink">
                    直通车微博
                  </a>
                </li>
                <li>
                  <a href="#tieba" id="anchor3" class="anchorLink">
                    直通车贴吧
                  </a>
                </li> 
                <li>
                  <a href="#wechat" id="anchor4" class="anchorLink">
                    直通车微信
                  </a>
                </li> 
                <li>
                  <a href="#emailsubscribe" id="anchor5" class="anchorLink">
                    直通车邮件列表
                  </a>
                </li>             
                <li>
                  <a href="#customerservices" id="anchor6" class="anchorLink">
                    直通车客服电话
                  </a>
                </li>   
              </ul>
            </li>            
          </ul>
        </div> <!-- /.col -->
        <div class="col-md-8 border-left cushion-lg">
          <a name="weibo" id="weibo" class="nav-offset"></a>
          <h1>
            直通车微博
          </h1>
          <div class="spacer"></div>
          <p>
  <strong>
    欢迎小主通过微博与我们联系.
  </strong>
  <div class="spacer-sm"></div>
  <br>
  <img src="/static/img/moreus/weibo.png" height="200"/>
</p>     
    <div class="divider-lg"></div>             
         


           <div class="spacer"></div>
              <a name="tieba" id="tieba" class="nav-offset"></a>
          <h1>
            直通车贴吧
          </h1>
          <div class="spacer"></div>
          <p>
  <strong>
    What is Dedicated Assistance?
  </strong>
  <br>
  All of our plans include a dedicated virtual assistant (ZA). You'll work with
  your ZA on a one-to-one basis, continually submitting tasks directly to this
  person. Your ZA will grow to know you, your work, and your preferences, while
  learning to anticipate your needs without you having to repeat yourself.
</p>     
    <div class="divider-lg"></div>  


            <div class="spacer"></div>
              <a name="wechat" id="wechat" class="nav-offset"></a>
          <h1>
            直通车微信
          </h1>
          <div class="spacer"></div>
          <p>
  <strong>
    What is Dedicated Assistance?
  </strong>
  <br>
  All of our plans include a dedicated virtual assistant (ZA). You'll work with
  your ZA on a one-to-one basis, continually submitting tasks directly to this
  person. Your ZA will grow to know you, your work, and your preferences, while
  learning to anticipate your needs without you having to repeat yourself.
</p>     
    <div class="divider-lg"></div>  


     <div class="spacer"></div>
              <a name="emailsubscribe" id="emailsubscribe" class="nav-offset"></a>
          <h1>
            直通车邮件列表
          </h1>
          <div class="spacer"></div>
          <p>
  <strong>
    加入我们的邮件列表，我们会在有新版本更新的时候通知您
  </strong>
  <br>
        <form action="/maillist" id="maillist" method="post">                    
                    <div class="table-responsive">
                      <input class="form-control input-sign-up" id="email" maxlength="75" name="email" placeholder="电子邮件" type="text">
                     <div class="spacer-sm"></div>
                     {{ if .IsEmailReg}}
                      <font style="color:red">*邮件已经成功登记！</font>
                     {{end}}
                    <p style="margin-left:4px;">
                       <button class="btn btn-lg btn-success" form="maillist" type="submit">
                          
                    确认登记

                        </button>
                      </p>
                    </div>
                  </form>
</p>     
    <div class="divider-lg"></div>  



      <div class="spacer"></div>
              <a name="customerservices" id="customerservices" class="nav-offset"></a>
          <h1>
            直通车客服电话
          </h1>
          <div class="spacer"></div>
          <p>
  <strong>
    What is Dedicated Assistance?
  </strong>
  <br>
  All of our plans include a dedicated virtual assistant (ZA). You'll work with
  your ZA on a one-to-one basis, continually submitting tasks directly to this
  person. Your ZA will grow to know you, your work, and your preferences, while
  learning to anticipate your needs without you having to repeat yourself.
</p>     
    <div class="divider-lg"></div>        


        </div> <!-- /.col -->
      </div> <!-- /.row -->
    </div> <!-- /.container -->
  </div>


    {{template "footer" .}}
</div>
</body></html>