{{template "header" .}}
    <title> 订单明细-金冠直通车 · 中小规模电商运营第一品牌.
    </title>
  </head>
  <body data-spy="scroll" data-target="#scrollspy" class="">
    <div class="container-full">
    <!-- Global navigation scheme(s)
    ================================================== -->
    {{template "navibar" .}}
  <div class="jumbotron">
      <div class="dailyreport"> <!-- Calling the background image -->
        <div class="container">
          <div class="wrapper">
            <div class="row">
              <div class="col-md-12">
                
        <div align="center">
          <div class="col-md-12">
            <br>
            <h1 class="framed">
              订 单 明 细
            </h1>
          </div> <!-- /.col -->
        </div> <!-- /.row -->      
              </div> <!-- /.col -->
            </div> <!-- /.row -->
          </div> <!-- /.wrapper -->
        </div> <!-- /.container -->
      </div> <!-- /.landing -->
    </div> <!-- /.jumbotron -->

    <div class="empty">
        <a name="accinfo" id="accinfo"></a>
          <div class="cushion">
            <div class="container">
              <div class="row">
                <div class="col-md-12" align="center">
                  <h1>
                    金冠·直通车之路
                  </h1>
                </div>
              </div> <!-- /.row -->
              <div class="spacer"></div>
              <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                  <ul class="progress-steps">                      
                      <li class="text-muted">                         
                          注册账户                        
                      </li>
                      <li class="text-muted">
                        登记运营信息
                      </li>
                      <li class="text-muted">
                        选择并确认服务
                      </li>
                      <li class="on">
                        开始店铺智能运营
                      </li>
                  </ul>
                </div> <!-- /.col -->
                <div class="col-md-3"></div>
              </div> <!-- /.row -->
            </div> <!-- /.container -->
          </div> <!-- /.cushion -->
        </div> <!-- /.empty -->


      <div class="white">
  
          <div class="container">                      
                <div class="row row-centered">
      <div class="pricing-tables attached">
                <div class="white">
    <div class="cushion-lg">
      <div class="container">


        <div class="col-md-6">
          <img src="/static/img/products/what-we-do-1.jpg" class="img-circle" width="250" height="250">
          <div class="spacer"></div>
          <h3>
            小主的选择升级的是<h1>{{.OrderType}}</h1>
          </h3>
          <p>
            服务期限为<font style="color:red">2015-02-02~2016-02-02</font>，每日费用为{{.DailyCost}}元.
          </p>
          <p>
            小主将获得我们以下服务：
          </p>

          <table class="table table-hover">
            <tbody><tr class="small">
              <td>
                Respond to emails on your behalf
              </td>
              <td width="25%">
                

<img src="/static/img/products/circle-ok-green.png" width="20" height="20">

              </td>
            </tr>
            <tr class="small">
              <td>
                Manage your calendar and schedule meetings
              </td>
              <td width="25%">
                

<img src="/static/img/products/circle-ok-green.png" width="20" height="20">

              </td>
            </tr>
            <tr class="small">
              <td>
                Find and order products and services
              </td>
              <td width="25%">
                

<img src="/static/img/products/circle-ok-green.png" width="20" height="20">

              </td>
            </tr>
            <tr class="small">
              <td>
                Keep your contacts list up to date
              </td>
              <td width="25%">
                

<img src="/static/img/products/circle-ok-green.png" width="20" height="20">

              </td>
            </tr>
            <tr class="small">
              <td>
                Deal with customer service, utilities, airlines, etc.
              </td>
              <td width="25%">
                

<img src="/static/img/products/circle-ok-green.png" width="20" height="20">

              </td>
            </tr>
            <tr class="small">
              <td>
                Schedule appointments with doctors, trainers, salons, etc.
              </td>
              <td width="25%">
                

<img src="/static/img/products/circle-ok-green.png" width="20" height="20">

              </td>
            </tr>
            <tr class="small">
              <td>
                Remind you of stuff you might otherwise forget
              </td>
              <td width="25%">
                

<img src="/static/img/products/circle-ok-green.png" width="20" height="20">

              </td>
            </tr>
            <tr class="small">
              <td>
                Help coordinate events, manage invites, etc.
              </td>
              <td width="25%">
                

<img src="/static/img/products/circle-ok-green.png" width="20" height="20">

              </td>
            </tr>
            <tr class="small">
              <td>
                Order lunch for you and your colleagues
              </td>
              <td width="25%">
                

<img src="/static/img/products/circle-ok-green.png" width="20" height="20">

              </td>
            </tr>
            <tr class="small">
              <td>
                Get a Zirtual +Plus partner to handwrite personal notes and
                cards
              </td>
              <td width="25%">
                

<img src="/static/img/products/circle-ok-green.png" width="20" height="20">

              </td>
            </tr>
          </tbody></table>

          
        </div> <!-- /.col -->

        <div class="col-md-6">
          <div class="spacer"></div>
          <div class="spacer"></div>
          <div class="spacer"></div>
          <div class="spacer"></div>
          <div class="spacer"></div>
          <div class="spacer"></div>
          <div class="spacer"></div>
          <div class="spacer"></div>
          <div class="spacer"></div>
          <div class="spacer"></div>
          <div class="spacer"></div>
          <div class="spacer"></div>
          <div class="spacer"></div>
          <div class="spacer"></div>
          <div class="spacer"></div>
          <div class="spacer"></div>
          <div><strong>小主用手机微信扫描以下二维码即可启动店铺智能运营！</strong></div>
          <img src="/static/img/qr.png" width="250" height="250"/>
        </div>

      </div>
    </div>
  </div>


 


      </div> <!-- /.pricing-tables -->
    </div> <!-- /.row  center-->

                  <div class="row disclaimer">

      <p class="text-muted small">
        *由于数据获取有一定的时效性，以上数据仅展现截至时间段相关数据的准确报告，请务必综合考虑实际情况采用.
        <br>
        *不同的服务条款可以获得不同的数据服务等级，具体请参见<a href="/service">服务体系管理</a>.
      </p>
    </div> <!-- /.row -->

          
          
          </div> <!-- ./container -->
   
      </div> <!-- ./light -->


      <div class="blue border">
      <div class="cushion inner-border">
        <div class="container">
          <div class="row">
            <div class="col-md-8">
              <h1>想让数据变得更聪明？快到账户管理后台的“投诉建议”告诉我们吧.</h1>
            </div> <!-- /.col -->
            <div class="col-md-4">
              <p><em>很多时候，只是一个小小的举动，就可以让生活更加美好 <i class="fa fa-lg fa-smile-o" style="color:#686868;"></i> !</em></p>
              <a href="/account#feedback"><button class="btn btn-blue btn-lg" type="button">现在就去！</button></a>
            </div> <!-- /.col -->
          </div> <!-- /.row -->
        </div> <!-- /.container -->
      </div> <!-- /.cushion -->
    </div> <!-- /.blue -->
     
   
    {{template "footer" .}}
</div>
</body></html>