{{template "header" .}}
    <title> 产品介绍-金冠直通车 · 中小规模电商运营第一品牌.
    </title>
  <script src="/static/js/md5.js"></script>
  <script type="text/javascript" src="/static/js/loginvalid.js"></script>
  </head>
  <body data-spy="scroll" data-target="#scrollspy" class="">
    <div class="container-full">
    <!-- Global navigation scheme(s)
    ================================================== -->
    {{template "navibar" .}}
        <div class="jumbotron">
          <div class="login"> <!-- Calling the background image -->
            <div class="container">
              <div class="wrapper">
                <div class="row">
                  <div class="col-md-10">
                    <h1>
                      
                    </h1>
                  </div> <!-- /.col -->
                </div> <!-- /.row -->
                <div class="row">
                  <div class="col-md-12">                                  
                      <div class="row" align="center">
                        <div class="col-md-12">
                          <br>
                          <h1 class="framed">
                            
                      产 品 介 绍

                          </h1>
                        </div> <!-- /.col -->
                      </div> <!-- /.row -->
                  </div> <!-- /.col -->
                </div> <!-- /.row -->
              </div> <!-- /.wrapper -->
            </div> <!-- /.container -->
          </div> <!-- /.landing -->
        </div> <!-- /.jumbotron -->

        <div class="light">
           <a name="acclogin" id="acclogin"></a>
            <div class="cushion">
              <div class="container">
                <div class="row">
                  <div class="col-md-12" align="center">
                    <h1>
                      欢迎加入店铺智能运营的行列！<br/>我们的三大特性20大优点将协助您的店铺运营轻松致胜！
                    </h1>
                  </div>
                </div> <!-- /.row -->                        
              </div> <!-- /.container -->
            </div> <!-- /.cushion -->
          </div> <!-- /.empty -->
        


          <div class="white">
    <div class="cushion-lg">
      <div class="container">
        <div class="col-md-4">
          <img src="/static/img/products/what-we-do-1.jpg" class="img-circle" width="250" height="250">
          <div class="spacer"></div>
          <h3>
            全面的数据
          </h3>          
          <p>
           我们的系统不仅会关注小主店铺本身的日常数据，还会随着市场的变化关注更多的店铺相关内容. 
           真正从整体上把握一个在线店铺运营的方方面面因素，当然，这也是未来社会化营销决策中致胜的关键！
          </p>
          <table class="table table-hover">
            <tbody><tr class="small">
              <td>
                店铺每日整体指数
              </td>
              <td width="25%">
                

<img src="/static/img/products/circle-ok-green.png" width="20" height="20">

              </td>
            </tr>
            <tr class="small">
              <td>
                店铺每日服务指数
              </td>
              <td width="25%">
                

<img src="/static/img/products/circle-ok-green.png" width="20" height="20">

              </td>
            </tr>
            <tr class="small">
              <td>
                店铺每日硬件指数
              </td>
              <td width="25%">
                

<img src="/static/img/products/circle-ok-green.png" width="20" height="20">

              </td>
            </tr>
            <tr class="small">
              <td>
                店铺每日上新指数
              </td>
              <td width="25%">
                

<img src="/static/img/products/circle-ok-green.png" width="20" height="20">

              </td>
            </tr>
            <tr class="small">
              <td>
                店铺每日热销指数
              </td>
              <td width="25%">
                

<img src="/static/img/products/circle-ok-green.png" width="20" height="20">

              </td>
            </tr>
            <tr class="small">
              <td>
                店铺每日评价指数
              </td>
              <td width="25%">
                

<img src="/static/img/products/circle-ok-green.png" width="20" height="20">

              </td>
            </tr>
            <tr class="small">
              <td>
                店铺每日动态指数
              </td>
              <td width="25%">
                

<img src="/static/img/products/circle-ok-green.png" width="20" height="20">

              </td>
            </tr>
            <tr class="small">
              <td>
                店铺每日信用指数
              </td>
              <td width="25%">
                

<img src="/static/img/products/circle-ok-green.png" width="20" height="20">

              </td>
            </tr>
            <tr class="small">
              <td>
                目标店铺的比较分析报告
              </td>
              <td width="25%">
                

<img src="/static/img/products/circle-ok-green.png" width="20" height="20">

              </td>
            </tr>
            

          </tbody></table>
        </div> <!-- /.col -->

        

        <div class="col-md-4">
          <img src="/static/img/products/what-we-do-2.jpg" class="img-circle" width="250" height="250">
          <div class="spacer"></div>
          <h3>
            及时的反馈
          </h3>
          <p>
            店铺运营的数据核心就是时效性，我们将构建一个完全为小主店铺服务的云数据中心. 
            涵盖小主店铺运营过程中的相关影响因素的集合，只为更快的协助小主做出正确的运营决策.
          </p>
          <table class="table table-hover">
            <tbody><tr class="small">
              <td>
                以小主店铺核心的专属 “ 大数据 ” 系统
              </td>
              <td width="25%">
                

<img src="/static/img/products/circle-ok-green.png" width="20" height="20">

              </td>
            </tr>
            <tr class="small">
              <td>
                最快达6小时时效数据
              </td>
              <td width="25%">
                

<img src="/static/img/products/circle-ok-green.png" width="20" height="20">

              </td>
            </tr>
            <tr class="small">
              <td>
                VIP专属更有可能实现即时数据
              </td>
              <td width="25%">
                

<img src="/static/img/products/circle-ok-green.png" width="20" height="20">

              </td>
            </tr>
            <tr class="small">
              <td>
                每阶段的数据实时更新
              </td>
              <td width="25%">
                

<img src="/static/img/products/circle-ok-green.png" width="20" height="20">

              </td>
            </tr>
            <tr class="small">
              <td>
                及时的店长和智囊团互动
              </td>
              <td width="25%">
                

<img src="/static/img/products/circle-ok-green.png" width="20" height="20">

              </td>
            </tr>
            <tr class="small">
              <td>
                异常数据实时告警
              </td>
              <td width="25%">
                

<img src="/static/img/products/circle-ok-green.png" width="20" height="20">

              </td>
            </tr>
            

          </tbody></table>
        </div> <!-- /.col -->



        <div class="col-md-4">
          <img src="/static/img/products/what-we-do-3.jpg" class="img-circle" width="250" height="250">
          <div class="spacer"></div>
          <h3>
            持续的进化
          </h3>
          <p>
            在智能系统日益普及的今天，不会持续进化的软件体系必然是没有生命力的.
            我们的后台智能数据处理系统会随着小主店铺的成长而不断演化，每时每刻都与小主的关注点保持契合.
          </p>
          <table class="table table-hover">
            <tbody><tr class="small">
              <td>
                明确的技术路线图
              </td>
              <td width="25%">
                

<img src="/static/img/products/circle-ok-green.png" width="20" height="20">

              </td>
            </tr>
            <tr class="small">
              <td>
                确定的发布迭代周期
              </td>
              <td width="25%">
                

<img src="/static/img/products/circle-ok-green.png" width="20" height="20">

              </td>
            </tr>
            <tr class="small">
              <td>
                持续稳定的发布计划
              </td>
              <td width="25%">
                

<img src="/static/img/products/circle-ok-green.png" width="20" height="20">

              </td>
            </tr>
            <tr class="small">
              <td>
                会员共同参与的技术需求评审
              </td>
              <td width="25%">
                

<img src="/static/img/products/circle-ok-green.png" width="20" height="20">

              </td>
            </tr>
            <tr class="small">
              <td>
                可见的智能技术演化
              </td>
              <td width="25%">
                

<img src="/static/img/products/circle-ok-green.png" width="20" height="20">

              </td>
            </tr>

                     <tr class="small">
              <td>
                适应不同级别的智能运营系统
              </td>
              <td width="25%">
                

<img src="/static/img/products/circle-ok-green.png" width="20" height="20">

              </td>
            </tr>
            
                     <tr class="small">
              <td>
                专家经验的持续整合
              </td>
              <td width="25%">
                

<img src="/static/img/products/circle-ok-green.png" width="20" height="20">

              </td>
            </tr>

          </tbody></table>
        </div> <!-- /.col -->
      </div> <!-- /.container -->

      <div class="row disclaimer">

      <p class="text-muted small">
        *部分数据因客观原因未必能提供，但我们会提供相应的足以协助小主运营的数据作为辅助.        
      </p>
    </div> <!-- /.row -->


    </div> <!-- /.cushion -->
  </div>


 


  <div class="blue border">
    <div class="cushion inner-border">
      <div class="container">
        <div class="row">
          <div class="col-md-8">
            <h1>我们一直相信，随着技术的发展，店铺的运营可以更加智能化.
                线上店铺的运营，应该变得更轻松，更容易.</h1>
          </div> <!-- /.col -->
          <div class="col-md-4">
            <p><em>只要登陆系统后台，小主就可以将您的需求反馈给我们，
                让数据更符合您的需求.</em></p>
                {{if .IsLogined}}
                <a href="/account"><button class="btn btn-blue btn-lg" type="button">反馈需求</button></a>
                {{else}}
              <a href="/register"><button class="btn btn-blue btn-lg" type="button">马上注册</button></a>
                {{end}}
          </div> <!-- /.col -->
        </div> <!-- /.row -->
      </div> <!-- /.container -->
    </div> <!-- /.cushion -->
  </div>



   


  <div class="light">
    <div class="cushion">
      <div class="container">
        
        <div class="row small">
          <div class="col-md-4">
    <div class="testimonial">
      <div class="headshot">
        <img src="
    /static/img/products/testimonial-benji-rogers.jpg
  " width="75" height="75">
      </div> <!-- /.headshot -->
      <div class="quote">
        <p>
          
    采用直通车运营方案是我开店以来最为明智的选择，
    因为这个决定让我们在后续的店铺运营中获得了极大的优势!

        </p>
      <div class="name">
        
    周先生

      </div>
      <div class="divider"></div>
        <p class="small">
          
    <em>CEO &amp; 投资人, </em>
    
      <strong>&nbsp;天猫店铺</strong>
    

        </p>
      </div> <!-- /.quote -->
    </div> <!-- /.testimonial -->
  </div> <!-- /.col -->
  <div class="col-md-4">
    <div class="testimonial">
      <div class="headshot">
        <img src="
    /static/img/products/testimonial-erica-wassinger.jpg
  " width="75" height="75">
      </div> <!-- /.headshot -->
      <div class="quote">
        <p>
          
    我不能说直通车是目前市面上最好的店铺运营工具，
    但我确实想说，它是目前我们用过的最好的店铺运营系统.

        </p>
      <div class="name">
        
    何女士

      </div>
      <div class="divider"></div>
        <p class="small">
          
    <em>总经理, </em>
    
      <strong> &nbsp;淘宝店铺</strong>
    

        </p>
      </div> <!-- /.quote -->
    </div> <!-- /.testimonial -->
  </div> <!-- /.col -->
  <div class="col-md-4">
    <div class="testimonial">
      <div class="headshot">
        <img src="
    /static/img/products/testimonial-leif-ramsey.jpg
  " width="75" height="75">
      </div> <!-- /.headshot -->
      <div class="quote">
        <p>
          
    直通车是新手开店的好帮手，它提供的大数据分析和简单直白的运营指导，
    是大多数新手开店最好的老师.

        </p>
      <div class="name">
        
    王先生

      </div>
      <div class="divider"></div>
        <p class="small">
          
    <em>店长, </em>
      <strong> &nbsp;淘宝店铺</strong>
    
        </p>
      </div> <!-- /.quote -->
    </div> <!-- /.testimonial -->
  </div> <!-- /.col -->

        </div> <!-- /.row -->
      </div> <!-- /.container -->
    </div> <!-- /.cushion -->
  </div>






    <div class="dark border">
      <div class="cushion inner-border">
        <div class="container">
          <div class="row">
            <div class="col-md-12" align="center">
              {{if .IsLogined}}
                <h1>欢迎加入金冠直通车！</h1>
                <p>我们的软件会跟着小主的店铺一并成长，让小主在获得财富的同时，更获得生活的健康和快乐。</p>
                <a href="/dailyreport"><button class="btn btn-dark btn-lg" type="button">看看我的店铺</button></a>
              {{else}}
                <h1>马上开始激动人心的店铺运营之旅！</h1>
                <p>加入金冠直通车，让店铺的运营变得不再痛苦，极具生命力的店铺运营手段和科学技巧将会帮您获得比其他店铺更多的竞争优势。</p>              
                <br>
                <a href="/register#accreg"><button class="btn btn-dark btn-lg" type="button">我要马上加入</button></a>
              {{end}}
              <div class="spacer"></div>
            </div> <!-- /.col -->
          </div> <!-- /.row -->
        </div> <!-- /.container -->
      </div> <!-- /.cushion -->
    </div>



       
    {{template "footer" .}}
</div>
</body></html>