{{template "header" .}}
    <title> 技术路线图-金冠直通车 · 中小规模电商运营第一品牌.
    </title>
    <script type="text/javascript">
      function choose(element){
        clearActiveLink();
        element.attr('class','list-group-item active');
      }
      function clearActiveLink(){
        var links = new Array();
        links[0] = "targetshoplink";
        links[1] = "myshoplink";
        links[2] = "feedbacklink";
        links[3] = "changepwdlink";
        for(i =0;i<4;i++)
        {
          document.getElementById(links[i]).className = "list-group-item";
        }
      }   
    </script>
    <script type="text/javascript" src="/static/js/accountvalid.js"></script>
  </head>
  <body data-spy="scroll" data-target="#scrollspy" class="">
    <div class="container-full">
    <!-- Global navigation scheme(s)
    ================================================== -->
    {{template "navibar" .}}
        
  <div class="jumbotron">
    <div class="expectations"> <!-- Calling the background image -->
      <div class="container">
        <div class="wrapper">
          <div class="row">
            <div class="col-md-10">
              <h1>
                
              </h1>
            </div> <!-- /.col -->
          </div> <!-- /.row -->
          <div class="row">
            <div class="col-md-12">
              
  <div class="row" align="center">
    <div class="col-md-12">
    <br>
      <h1 class="framed">
        技 术 路 线
      </h1>
    </div> <!-- /.col -->
  </div> <!-- /.row -->

            </div> <!-- /.col -->
          </div> <!-- /.row -->
        </div> <!-- /.wrapper -->
      </div> <!-- /.container -->
    </div> <!-- /.landing -->
  </div>



  <div class="light">
    <div class="cushion">
      <div class="container">
        <div class="row">
          <div class="col-md-12" align="center">
            <h1>
              小主尽可期待更为智能、反应迅速、可靠的在线运营体系.
            </h1>
          </div> <!-- /.col -->
        </div> <!-- /.row -->
      </div> <!-- /.container -->
    </div> <!-- /.cushion -->
  </div>



    <div class="white">
    <div class="cushion-lg">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="table-responsive">
              <table class="table">
                <thead>
                  <tr>
                    <th width="40%">
                      <h3>
                        技术发展方向范畴
                      </h3>
                    </th>
                    <th width="10%"></th>
                    <th width="40%">
                      <h3>
                        不包括的技术方向范畴
                      </h3>
                    </th>
                    <th width="10%"></th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>
                      <p>
                        持续演化的线上智库系统，日益简化的运营服务工具. 
                        涵盖更为全面的店铺运营领域，包括新兴的社会化媒体领域.
                      </p>
                    </td>
                    <td></td>
                    <td class="text-muted">
                      <p>
                        更多的常规运营工具，更为繁琐的工具应用体系.
                        更复杂的视频教学课程，需要更多学习的新系统.
                      </p>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      智能分析系统
                    </td>
                    <td>
                      

<img src="/static/img/service/circle-ok-green.png" width="20" height="20">

                    </td>
                    <td class="text-muted">
                      营销管理工具
                    </td>
                    <td>
                      

<img src="/static/img/roadmap/remove-muted.png" width="20" height="20">

                    </td>
                  </tr>
                  <tr>
                    <td>
                      运营流程管理
                    </td>
                    <td>
                      

<img src="/static/img/service/circle-ok-green.png" width="20" height="20">

                    </td>
                    <td class="text-muted">
                      订单管理系统
                    </td>
                    <td>
                      

<img src="/static/img/roadmap/remove-muted.png" width="20" height="20">

                    </td>
                  </tr>
                  <tr>
                    <td>
                      店铺信用提升工具
                    </td>
                    <td>
                      

<img src="/static/img/service/circle-ok-green.png" width="20" height="20">

                    </td>
                    <td class="text-muted">
                      客户关系管理工具
                    </td>
                    <td>
                      

<img src="/static/img/roadmap/remove-muted.png" width="20" height="20">

                    </td>
                  </tr>
                  <tr>
                    <td>
                      社会化媒体分析工具
                    </td>
                    <td>
                      

<img src="/static/img/service/circle-ok-green.png" width="20" height="20">

                    </td>
                    <td class="text-muted">
                     活动推广系统 
                    </td>
                    <td>
                      

<img src="/static/img/roadmap/remove-muted.png" width="20" height="20">

                    </td>
                  </tr>
                  <tr>
                    <td>
                      专项数据挖掘工具
                    </td>
                    <td>
                      

<img src="/static/img/service/circle-ok-green.png" width="20" height="20">

                    </td>
                    <td class="text-muted">
                      管理咨询系统
                    </td>
                    <td>
                      

<img src="/static/img/roadmap/remove-muted.png" width="20" height="20">

                    </td>
                  </tr>
                  <tr>
                    <td>
                      数据开放接口
                    </td>
                    <td>
                      

<img src="/static/img/service/circle-ok-green.png" width="20" height="20">

                    </td>
                    <td class="text-muted">
                      数据封闭
                    </td>
                    <td>
                      

<img src="/static/img/roadmap/remove-muted.png" width="20" height="20">

                    </td>
                  </tr>
                  <tr>
                    <td>
                      第三方数据集成
                    </td>
                    <td>
                      

<img src="/static/img/service/circle-ok-green.png" width="20" height="20">

                    </td>
                    <td class="text-muted">
                      SEO
                    </td>
                    <td>
                      

<img src="/static/img/roadmap/remove-muted.png" width="20" height="20">

                    </td>
                  </tr>
                  <tr>
                    <td>
                      移动平台客户端
                    </td>
                    <td>
                      

<img src="/static/img/service/circle-ok-green.png" width="20" height="20">

                    </td>
                    <td class="text-muted">
                      重App应用
                    </td>
                    <td>
                      

<img src="/static/img/roadmap/remove-muted.png" width="20" height="20">

                    </td>
                  </tr>
                  <tr>
                    <td>
                      人工智库接口
                    </td>
                    <td>
                      

<img src="/static/img/service/circle-ok-green.png" width="20" height="20">

                    </td>
                    <td class="text-muted">
                      平台流量车工具
                    </td>
                    <td>
                      

<img src="/static/img/roadmap/remove-muted.png" width="20" height="20">

                    </td>
                  </tr>
                  <tr>
                    <td>
                      信用评级系统
                    </td>
                    <td>
                      

<img src="/static/img/service/circle-ok-green.png" width="20" height="20">

                    </td>
                    <td class="text-muted">
                      平台刷量工具
                    </td>
                    <td>
                      

<img src="/static/img/roadmap/remove-muted.png" width="20" height="20">

                    </td>
                  </tr>
                  <tr>
                    <td>
                      其他与店铺深度运营相关的工具
                    </td>
                    <td>
                      

<img src="/static/img/service/circle-ok-green.png" width="20" height="20">

                    </td>
                    <td class="text-muted">
                      需要更多人工资源投入的平台工具
                    </td>
                    <td>
                      

<img src="/static/img/roadmap/remove-muted.png" width="20" height="20">

                    </td>
                  </tr>
                  <tr> 
                    <td>
                      时效性更强的数据报告
                    </td> 
                    <td>
                      <img src="/static/img/service/circle-ok-green.png" width="20" height="20">
                    </td>                 
                    <td class="small text-muted">
                      <small>*平台的技术演化方向是智能化、新社交平台全覆盖化、模糊化和流程简化，每月一次大特性更新，每周一次小更新维持不变. 
                        每次更新的具体内容请查看版本发布公告. </small>
                    </td>
                    <td></td>
                  </tr>
                </tbody>
              </table>
            </div> <!-- /.table-responsive -->
          </div> <!-- /.col -->
        </div> <!-- /.row -->
      </div> <!-- /.container -->
    </div> <!-- /.cushion -->
  </div>



    <div class="minitron">
    <div class="trusted">
      <div class="container">
        <div class="wrapper">
          <div class="row">
            <div class="col-md-12" align="center">
              <h1>
                有所为有所不为
              </h1>
            </div> <!-- /.col -->
          </div> <!-- /.row -->
        </div> <!-- /.wrapper -->
      </div> <!-- /.container -->
    </div> <!-- /.trusted -->
  </div>




  <div class="white">
    <div class="col-md-6">
      <div class="cushion pad-left">
        <p>
          <strong>
            所为:
          </strong>
          <br>
          保持稳定的系统版本更新节奏，随时根据需求调整产品功能.
        </p>
        <p>
          <strong>
            所不为:
          </strong>
          <br>
          长期无人维护升级的产品策略，损害客户及自身利益的经营思路.
        </p>
        <div class="divider"></div>
        <br>
        <p>
          <strong>
            所为:
          </strong>
          <br>
          更多可以快速实现智能化运营的云端服务，需要更少的人工干预流程.
        </p>
        <p>
          <strong>
            所不为:
          </strong>
          <br>
          涵盖所有运营行为的运营辅助工具，进一步增加运营人员的精力投入和时间成本.
          并且，随着版本的迭代，需要更多的运营人员参与的系统应用.
        </p>
        <div class="divider"></div>
        <br>
        <p>
          <strong>
            所为:
          </strong>
          <br>
           逐渐覆盖更为广泛的社交媒体平台数据，包括但不限于以下社交媒体：
           微信，微博，易信，陌陌，美丽说，蘑菇街，微店，instagram等等. 
           以协助小主更全面的把握目标运营动向，提高运营效率.
        </p>
        <p>
          <strong>
            所不为:
          </strong>
          <br>
          需要小主投入更多的人工协作工作量，随着涵盖面的增加，大幅度增加运营成本.
        </p>
        <div class="divider"></div>
        <br>
        <p>
          <strong>
            所为:
          </strong>
          <br>
           协助小主更精确的把握选品的趋势性，降低产品选择的难度曲线，
           通过人工智能和大数据服务，大大提高选品的精准度和效率.
        </p>
        <p>
          <strong>
            所不为:
          </strong>
          <br>
            通过平台向小主推荐自运营的实体产品，发展代理及下线获取额外收益.
        </p>
        <div class="divider"></div>
        <br>
      </div> <!-- /.cushion -->
    </div> <!-- /.col -->
    <div class="col-md-6 border-left">
      <div class="cushion pad-right">
        <p>
          <strong>
            所为:
          </strong>
          <br>
          持续优化和简化的运营流程，逐渐协助店家进入“傻瓜化”运营模式.
        </p>
        <p>
          <strong>
            所不为:
          </strong>
          <br>
          随着店铺涵盖更多社会化媒体，需要使用更多的相关运营工具.
        </p>
        <div class="divider"></div>
        <br>
        <p>
          <strong>
            所为:
          </strong>
          <br>
          我们的平台会采用越来越多的智能化数据处理手段进行运营工作的针对性简化，
          包括但不限于：人工神经网络系统，统计学基础的运营趋势分析，数据挖掘相关技术等.
        </p>
        <p>
          <strong>
            所不为:
          </strong>
          <br>
          随着涉及到的数据触角的扩展，需要更多的人工参与定制等相关功能，
          进一步加重运营管理人员的工作负担，造成人机接口的复杂性. 这些，
          我们都会采用云端的自动化技术加以解决.
        </p>
        <div class="divider"></div>
        <br>
        <p>
          <strong>
            所为:
          </strong>
          <br>
           提供一个更多行业精英参与的线上智囊团服务平台，让再小的个体电子商务也能获得顶级的运营服务支持，
           通过专家智脑的输入，实现运营的高性价比.
        </p>
        <p>
          <strong>
            所不为:
          </strong>
          <br>
            随着服务水准的提升，大幅度提高小主的店铺运营成本.
        </p>
        <div class="divider"></div>
        <br>
        <p>
          <strong>
            所为:
          </strong>
          <br>
            无论是对小主还是参与平台建设的专家智囊团成员，均采用公开透明的方式进行多方合作，
            杜绝任何的暗箱操作行为.
        </p>
        <p>
          <strong>
            所不为:
          </strong>
          <br>
            通过信息的不对等进行的套利行为.
        </p>
        <div class="divider"></div>
        <br>
        <p>
          <strong>
            所为:
          </strong>
          <br>
          通过平台协助小主进行大数据店铺运营，逐步提高小主的店铺自流量产生能力，
          进一步获得后台人工智能水平的提升，协助更多的店家提高运营水平.
        </p>
        <p>
          <strong>
            所不为:
          </strong>
          <br>
           在技术服务的同时存在自我利益的获取行为，名为协助运营，实为自身利益运营.
        </p>
        <div class="divider"></div>
        <br>
      </div> <!-- /.cushion -->
    </div> <!-- /.col -->
  </div>



  <div class="blue border">
    <div class="cushion inner-border">
      <div class="container">
        <div class="row">
          <div class="col-md-8">
            <h1>我们一直相信，随着技术的发展，店铺的运营可以更加智能化.
                线上店铺的运营，应该变得更轻松，更容易.</h1>
          </div> <!-- /.col -->
          <div class="col-md-4">
            <p><em>只要登陆系统后台，小主就可以将您的需求反馈给我们，
                让数据更符合您的需求.</em></p>
                {{if .IsLogined}}
                <a href="/account"><button class="btn btn-blue btn-lg" type="button">反馈需求</button></a>
                {{else}}
              <a href="/register"><button class="btn btn-blue btn-lg" type="button">马上注册</button></a>
                {{end}}
          </div> <!-- /.col -->
        </div> <!-- /.row -->
      </div> <!-- /.container -->
    </div> <!-- /.cushion -->
  </div>





<div class="light">
  <div class="cushion">
    <div class="container">
      
      <div class="row small">
        <div class="col-md-4">
  <div class="testimonial">
    <div class="headshot">
      <img src="/static/img/roadmap/testimonial-chris-hawkins.jpg
" width="75" height="75">
    </div> <!-- /.headshot -->
    <div class="quote">
      <p>
        
      稳定的版本周期对于成熟的运营团队来说特别重要，
      我们已经使用过市面上大多数的运营平台和工具，
      唯有金冠·直通车给了我们一个稳定的质量承诺.

      </p>
    <div class="name">
      
      周先生

    </div>
    <div class="divider"></div>
      <p class="small">
        
  <em>总经理, </em>
    <strong> 某微商面膜品牌</strong>
      </p>
    </div> <!-- /.quote -->
  </div> <!-- /.testimonial -->
</div> <!-- /.col -->
<div class="col-md-4">
  <div class="testimonial">
    <div class="headshot">
      <img src="/static/img/roadmap/testimonial-liz-alexander.jpg
" width="75" height="75">
    </div> <!-- /.headshot -->
    <div class="quote">
      <p>
        我喜欢金冠·直通车有所为有所不为的态度，
        这是对我们合作品质的持续追求和保障，
        相信他们也会一直这样做下去.
      </p>
    <div class="name">
      
        陈女士

    </div>
    <div class="divider"></div>
      <p class="small">
        
  <em>博士 &amp; 自媒体人,</em>
    <strong> 微商运营专家</strong>
      </p>
    </div> <!-- /.quote -->
  </div> <!-- /.testimonial -->
</div> <!-- /.col -->
<div class="col-md-4">
  <div class="testimonial">
    <div class="headshot">
      <img src="/static/img/roadmap/testimonial-mike-maser.jpg" width="75" height="75">
    </div> <!-- /.headshot -->
    <div class="quote">
      <p>
        面对复杂的运营环境，我们往往不得不选择多种工具和手段辅助运营，
        而金冠·直通车给了我们一个 “懒惰” 的借口，这才是智能系统该有的表现.
      </p>
    <div class="name">
       马先生
    </div>
    <div class="divider"></div>
      <p class="small">
        
  <em>垂直电商从业者, </em>
    <strong> 美丽说品牌商</strong>
      </p>
    </div> <!-- /.quote -->
  </div> <!-- /.testimonial -->
</div> <!-- /.col -->

      </div> <!-- /.row -->
    </div> <!-- /.container -->
  </div> <!-- /.cushion -->
</div>



    {{template "footer" .}}
</div>
</body>
<script type="text/javascript">
  accountform.targetshopid.value = "{{.watchedShopId}}";
  accountform.targetshopname.value = "{{.watchedShopName}}";
  accountform.targetshoptype.value = "{{.watchedShopType}}";
  accountform.myshopid.value = "{{.watcherShopId}}";
  accountform.myshopname.value = "{{.watcherShopName}}";
  accountform.myshoptype.value = "{{.watcherShopType}}";
</script>
</html>