{{template "header" .}}
    <title> 服务体系-金冠直通车 · 中小规模电商运营第一品牌.
    </title>
  </head>
  <body data-spy="scroll" data-target="#scrollspy" class="">
    <div class="container-full">
    <!-- Global navigation scheme(s)
    ================================================== -->
    {{template "navibar" .}}
  <div class="jumbotron">
      <div class="service"> <!-- Calling the background image -->
        <div class="container">
          <div class="wrapper">
            <div class="row">
              <div class="col-md-12">
                
        <div align="center">
          <div class="col-md-12">
            <br>
            <h1 class="framed">
              服 务 体 系
            </h1>
          </div> <!-- /.col -->
        </div> <!-- /.row -->      
              </div> <!-- /.col -->
            </div> <!-- /.row -->
          </div> <!-- /.wrapper -->
        </div> <!-- /.container -->
      </div> <!-- /.landing -->
    </div> <!-- /.jumbotron -->

    <div class="empty"> <!-- Calling the color and border; eg. 'blue border' -->
      <div class="cushion">
        <div class="container">
          <div class="row">
            <div class="col-md-12" align="center">
              {{if .IsLogined}}
              <div class="row">
                  <div class="col-md-12" align="center">
                    <h1>
                      金冠·直通车之路
                    </h1>
                  </div>
                </div> <!-- /.row -->
                <div class="spacer"></div>
                <div class="row">
                  <div class="col-md-3"></div>
                  <div class="col-md-6">
                    <ul class="progress-steps">                      
                        <li class="text-muted">                         
                            注册账户                        
                        </li>
                        <li class="text-muted">
                          登记运营信息
                        </li>
                        <li class="on">
                          选择并确认服务
                        </li>
                        <li class="text-muted">
                          开始店铺智能运营
                        </li>
                    </ul>
                  </div> <!-- /.col -->
                  <div class="col-md-3"></div>
                </div> <!-- /.row -->
              {{else}}
              <h1 class="framed" align="center">
                我们的服务不仅包括数据，还包括运营的增值服务.
              </h1>
          {{end}}
      
              
            </div> <!-- /.col -->
          </div> <!-- /.row -->
        </div> <!-- /.container -->
      </div> <!-- /.cushion -->
    </div> <!-- /.white -->

      <!-- Pricing Tabs -->
      <div class="light">
        <div class="cushion">
          <div class="container">
            <div class="tab-content">
              <div class="tab-pane fade active in" id="annual">
                <div class="row row-centered">
      <div class="pricing-tables attached">
        



    <div class="col-sm-3 col-md-3 ">
      <div class="plan">
        <div class="head">
          总监智囊团
        </div>
        <div class="price">
          <mini>￥</mini>1.93
          <div class="billed">
            <small>
            提供店铺运营最基础的数据服务
            <br>
            <span class="text-muted">
              入门级服务，基本满足店铺运营需求
            </span>
          </small>
          </div>
          <a href="/order?type=basic" class="btn btn-lg btn-success">
            马上聘请
          </a>
        </div>
        <ul class="item-list">
          <li class="plan-description empty">
            我们的总监智囊团服务能提供日常店铺运营最基本的数据服务，同时通过后台智能云系统，提供店铺每日运营的可靠参考.
          </li>
          <li data-toggle="popover" data-content="" data-original-title="" title="">
            <strong>              
              一个
              <abbr title="关注对象">
                目标店铺
              </abbr>
            </strong>
          </li>
          <li data-toggle="popover" data-content="" data-original-title="" title="">
            <strong>              
              每店铺每日一份运营数据
            </strong>
          </li>
          <li data-toggle="popover" data-content="" data-original-title="" title="">
            <img src="/static/img/service/circle-ok-green.png" width="20" height="20">
            每月一份汇总报告
          </li>
          <li data-toggle="popover" data-content="" data-original-title="" title="">
            <img src="/static/img/service/circle-ok-green.png" width="20" height="20">
            数据时效性<font style="color:red">24</font>小时
          </li>
          <li data-toggle="popover" data-content="" data-original-title="" title="">
            <img src="/static/img/service/circle-ok-green.png" width="20" height="20">
            在线运营客服(工作日)
          </li>
          <li data-toggle="popover" data-content="" data-original-title="" title="">
            

    <img src="/static/img/service/circle-ok-green.png" width="20" height="20">

            电话客服（工作日）
          </li>
          <li data-toggle="popover" data-content="" data-original-title="" title="">
            

    <img src="/static/img/service/circle-ok-green.png" width="20" height="20">

            邮件支持（常态）
          </li>
        </ul>
      </div>
    </div>

        



    <div class="col-sm-3 col-md-3 ">
      <div class="plan">
        <div class="head">
          专家智囊团
        </div>
        <div class="price">
          <mini>￥</mini>4.93
          <div class="billed">
            <small>
              提供更为精准的在线运营指导
            <br>
            <span class="text-muted">
              对店铺运营有一定深度需求客户
            </span>
          </small>
          </div>
          <a href="/order?type=pro" class="btn btn-lg btn-success">
            马上聘请
          </a>
        </div>
        <ul class="item-list">
          <li class="plan-description empty">
            我们的专家智囊团服务能提供日常店铺运营的基本数据服务，同时紧密分析目标店铺的运营动态，
            给小主提供更为有深度的数据分析支持.
          </li>
          <li data-toggle="popover" data-content="" data-original-title="" title="">
            <strong>
              一个
              <abbr title="关注对象">
                目标店铺
              </abbr>
            </strong>
          </li>
          <li data-toggle="popover" data-content="" data-original-title="" title="">
            <strong>              
              每店铺每日一份运营数据
            </strong>
          </li>
          <li data-toggle="popover" data-content="" data-original-title="" title="">
            <img src="/static/img/service/circle-ok-green.png" width="20" height="20">每月一份汇总报告

          </li>
          <li data-toggle="popover" data-content="" data-original-title="" title="">
            <img src="/static/img/service/circle-ok-green.png" width="20" height="20">
            数据时效性<font style="color:red">18</font>小时
          </li>
          <li data-toggle="popover" data-content="" data-original-title="" title="">
            <img src="/static/img/service/circle-ok-green.png" width="20" height="20">
            在线运营客服（工作日）
          </li>
          <li data-toggle="popover" data-content="" data-original-title="" title="">
            

    <img src="/static/img/service/circle-ok-green.png" width="20" height="20">

            电话客服（工作日）
          </li>
          <li data-toggle="popover" data-content="" data-original-title="" title="">
            

    <img src="/static/img/service/circle-ok-green.png" width="20" height="20">

            邮件支持（常态）
          </li>
        </ul>
      </div>
    </div>

        



    <div class="col-sm-3 col-md-3 ">
      <div class="plan">
        <div class="head">
          总裁智囊团
        </div>
        <div class="price">
          <mini>￥</mini>9.93
          <div class="billed">
            <small>
              全面开启店铺数字化运营
              <br>
              <span class="text-muted">
                提供更有针对性的运营指导意见
              </span>
            </small>
          </div>
          <a href="/order?type=ceo" class="btn btn-lg btn-success">
            马上聘请
          </a>
        </div>
        <ul class="item-list">
          <li class="plan-description empty">
            我们的总裁智囊团服务，在深度数据支撑之外，
            结合云端更多类似店铺的大数据分析和更有针对性的目标店铺数据解析，
            为店铺更上一层楼保驾护航.
          </li>
          <li data-toggle="popover" data-content="" data-original-title="" title="">
            <strong>              
              <font style="color:red">两个</font>
              <abbr title="关注对象">
                目标店铺
              </abbr>
            </strong>
          </li>
          <li data-toggle="popover" data-content="" data-original-title="" title="">
            <strong>              
              每店铺每日<font style="color:red">两份</font>运营数据
            </strong>
          </li>
          <li data-toggle="popover" data-content="" data-original-title="" title="">
            <img src="/static/img/service/circle-ok-green.png" width="20" height="20">
            每月一份汇总报告
          </li>
          <li data-toggle="popover" data-content="" data-original-title="" title="">
            <img src="/static/img/service/circle-ok-green.png" width="20" height="20">数据时效性<font style="color:red">12</font>小时

          </li>
          <li data-toggle="popover" data-content="" data-original-title="" title="">
            <img src="/static/img/service/circle-ok-green.png" width="20" height="20">
            针对性运营建议
          </li>
          <li data-toggle="popover" data-content="" data-original-title="" title="">
            

    <img src="/static/img/service/circle-ok-green.png" width="20" height="20">

            在线及电话客服（工作日）
          </li>
          <li data-toggle="popover" data-content="" data-original-title="" title="">
            

    <img src="/static/img/service/circle-ok-green.png" width="20" height="20">

            邮件支持（常态）
          </li>
        </ul>
      </div>
    </div>

        



    <div class="col-sm-3 col-md-3 ">
      <div class="plan">
        <div class="head">
          VIP 计划
        </div>
        <div class="price">
          <mini>￥</mini>99.93
          <div class="billed">
            <small>
              先锋店铺运营服务
              <br>
              <span class="text-muted">
              不仅关注店铺，还有更多
              </span>
            </small>
          </div>
          <a href="/order?type=vip" class="btn btn-lg btn-success">
            马上聘请
          </a>
        </div>
        <ul class="item-list">
          <li class="plan-description empty">
            我们的VIP计划只针对少数极珍贵的客户提供服务，除了更为全面的运营活动数据支撑之外，
            更有长期保障的“尝鲜”计划，紧跟数字化运营大潮.
          </li>
          <li data-toggle="popover" data-content="" data-original-title="" title="">
            <strong>              
              <font style="color:red">三个</font>
              <abbr title="关注目标">
                目标店铺
              </abbr>
            </strong>
          </li>
          <li data-toggle="popover" data-content="" data-original-title="" title="">
            <strong>              
              *VIP限额<font style="color:red">50</font>席
            </strong>
          </li>
          <li data-toggle="popover" data-content="" data-original-title="" title="">
            <img src="/static/img/service/circle-ok-green.png" width="20" height="20">
            每日及每月运营数据
          </li>
          <li data-toggle="popover" data-content="" data-original-title="" title="">
            <img src="/static/img/service/circle-ok-green.png" width="20" height="20">
            数据时效性<font style="color:red">6</font>小时
          </li>
          <li data-toggle="popover" data-content="" data-original-title="" title="">
            <img src="/static/img/service/circle-ok-green.png" width="20" height="20">
              新运营服务<font style="color:red">免费“尝鲜”</font>
          </li>
          <li data-toggle="popover" data-content="" data-original-title="" title="">
            

    <img src="/static/img/service/circle-ok-green.png" width="20" height="20">

            在线及电话客服（工作日）
          </li>
          <li data-toggle="popover" data-content="" data-original-title="" title="">
            

    <img src="/static/img/service/circle-ok-green.png" width="20" height="20">

            邮件支持（常态）
          </li>
        </ul>
      </div>
    </div>

      </div> <!-- /.pricing-tables -->
    </div> <!-- /.row -->

                <div class="spacer-lg"></div>
   

                <div class="row disclaimer">
      <p class="text-muted small">
        *以上服务项目并未涵盖所有方面，有更具体的需求请咨询我们的售前工程师.
        <br>
        所有服务类型均包含安全升级，即升级仅需支付差价费用.
      </p>
    </div> <!-- /.row -->

              </div> <!-- /.tab-pane -->
            </div> <!-- ./tab-content -->
          </div> <!-- ./container -->
        </div> <!-- ./cushion -->
      </div> <!-- ./light -->
      <div class="white"> <!-- Calling the color and border; eg. 'blue border' -->
      <div class="cushion">
        <div class="container">
          <div class="row">
            <div class="col-md-12" align="center">
                <h1>
                  不太清楚哪个服务体系适合您的店铺？
                </h1>
                <h1>
                  马上电话联系我们的售前咨询师 (0086) 400-1688-1688.
                </h1>
              
              
            </div> <!-- /.col -->
          </div> <!-- /.row -->
        </div> <!-- /.container -->
      </div> <!-- /.cushion -->
    </div> <!-- /.white -->

      <div class="minitron">
        <div class="trusted">
          <div class="container">
            <div class="wrapper">
              <div class="row">
                <div class="col-md-12" align="center">
                  <h1>
                    常 见 问 题
                  </h1>
                </div> <!-- /.col -->
              </div> <!-- /.row -->
            </div> <!-- /.wrapper -->
          </div> <!-- /.container -->
        </div> <!-- /.trusted -->
      </div> <!-- /.minitron -->
      <div class="white">
        <div class="cushion-lg">
          <div class="container">
            <small>
            <div class="row">
              <div class="col-md-12">
                <h1>
                  常见问题
                </h1>
              </div>
            </div> <!-- /.row -->
            <div class="spacer"></div>
            <small>
            <div class="row small">
              <div class="col-md-4">

                <p>
      <strong>
        什么是目标店铺?
      </strong>
      <br>
      <br>
      目标店铺是小主在店铺运营过程中需要持续关注的竞争对手，或者行业内值得参考的同行对象.
      通过金冠·直通车的运营服务，小主可以直观的考察到目标店铺的运营行为，为自身店铺的运营提供最有价值的参考.
    </p>

              </div> <!-- /.col -->
              <div class="col-md-4">
                <p>
      <strong>每日的运营数据包含什么内容？</strong>
      <br>
      <br>
      每日运营数据包含了目标店铺和小主店铺相关关键性指标的平台监控结果.
    </p>
    <p>
      小主可以通过监控数据及时了解到店铺运营上的一些缺陷，通过对比目标店铺的相关运营数据，调整自己店铺的后续线上运营方案，
      达到迅速接近甚至超越目标店铺的效果.
    </p>

              </div> <!-- /.col -->
              <div class="col-md-4">
                <p>
      <strong>
        数据的时效性是什么意思?
      </strong>
      <br>
      <p>
      运营数据的时效性指的是数据获取的最近时间，时效性越短的数据，新鲜程度越高，对店铺运营的动态效果体现就越鲜活.
      </p>
      <p>
      数据的时效性对及时调整店铺的运营策略有很大的影响，一般而言，大部分店铺需要的数据时效性在24小时以内就足以支撑店铺的日常运营了.
      而在一些特殊情况下，如大型的线上活动时期，更及时的信息反馈对于店铺运营而言具有更重要的指导意义.
      </p>
    </p>

              </div> <!-- /.col -->
            </div> <!-- /.row -->
            <div class="row small">
              <div class="col-md-4">
                <div class="divider-lg"></div>
                <br>
                <p>
      <strong>
        为什么到总裁级别的智囊团才有针对性运营建议？
      </strong>
      <br>
      <br>
      其实在每个级别的服务体系中都有相应的针对性运营建议，总裁以上级别与前面一些级别的区别是真实专家的介入.
      除了更多参考店铺的数据被专家加入分析之外，针对小主店铺的专项分析也会更优于纯智能系统给出的运营建议.
      我们的总裁级智囊团成员均是多年运营相关领域产品的专业人员，并在各自领域均具有成功的运营操盘经验，
      所提出的建议能更好的协助小主经营店铺.
    </p>

              </div> <!-- /.col -->
              <div class="col-md-4">
                <div class="divider-lg"></div>
                <br>
                <p>
      <strong>
        开通金冠·直通车VIP有什么好处?
      </strong>
      <br>
      <br>
      开通VIP，除了可以在运营上“货比三家”，更有其他级别不具有的优势！
    </p>
    <p>

        VIP运营数据可以做到6小时之内的时效性，按照我们的系统架构设计，将来还有可能做到1小时，
        这对已经在同行取得一定地位优势的店铺来说具有更为明显的优势.
    </p>
    <p>
        金冠·直通车针对线上店铺运营会持续推出更方便，更易用的运营体系和运营工具，这些“先锋”的内容，
        VIP用户都可以直接享用，无需付费.
        在店铺的日常运营中，我们也会更多的搜集VIP客户的个性化需求，持续协助他们进行有针对性的改进，
        甚至在适当的时候，提供VIP客户的专属版本产品.
        VIP用户更拥有24小时响应服务的特权，有助于小主更快速的获得反馈和技术调整，满足您店铺运营的更高级需求.
    </p>

              </div> <!-- /.col -->
              <div class="col-md-4">
                <div class="divider-lg"></div>
                <br>
                <p>
      <strong>服务能否按月开通？</strong>
      <br>
      <br>
      由于支付系统还没有完全做到自动化处理，所以我们对订单的更进一步明细化支持还没能实现.
    </p>
    <p>
      因此暂时我们还只能支持年度服务订单，当然，我们倾向于先开通年度订单的原因还有很重要的一点，
      即店铺的运营是一个持续性的过程，只是一两个月的数据很多时候看不出来有什么好的效果，
      需要一个相对较长时间的持续关注才有效.
    </p>

              </div> <!-- /.col -->
            </div> <!-- /.row -->
            <div class="spacer"></div>
            <div class="row">
              <div class="col-md-12">
                <p class="small">
                  <strong>
                    还有其他问题？酷~，猛戳这里寻找答案吧.
                  </strong>
                  <a href="/faq" class="more">
                    更多常见问题
                  </a>
                </p>
              </div> <!-- /.col -->
            </div> <!-- /.row -->
          </small>
          </div> <!-- /.container -->
        </div> <!-- /.cushion -->
      </div> <!-- /.white -->
      

    <div class="light">
      <div class="cushion">
        <div class="container">
          
          <div class="row small">
            <div class="col-md-4">
      <div class="testimonial">
        <div class="headshot">
          <img src="/static/img/service/testimonial-cherie-jones.jpg" width="75" height="75">
        </div> <!-- /.headshot -->
        <div class="quote">
          <p>
            
     我们用了总监智囊团，每天可以及时的看到自己店铺和目标店铺的各项重要参数变化情况，运营起来轻松多了!
          </p>
          <p>
            通过每日运营数据分析报告的帮助，我们及时的跟上了市场发展的潮流，店铺很快达到了我们初期的目标.
          </p>
        <div class="name">
          
      王女士

        </div>
        <div class="divider"></div>
          <p class="small">
            
      <em>店主, </em>      
        <strong> 淘宝新店</strong>
          </p>
        </div> <!-- /.quote -->
      </div> <!-- /.testimonial -->
    </div> <!-- /.col -->
    <div class="col-md-4">
      <div class="testimonial">
        <div class="headshot">
          <img src="/static/img/service/testimonial-david-llorens.jpg" width="75" height="75">
        </div> <!-- /.headshot -->
        <div class="quote">
          <p>
            
      真是太好用了！我们用的是总裁智囊团，更加精细化和高效的数据监控报告，
      让我们可以更及时的根据竞争对手调整运营策略.
        </p>
        <p>
      总裁智囊团的运营建议也对我们的运营提供了很大的帮助，由众多更多有经验的运营专家提供的店铺针对性运营建议，
      店铺的运营很快上了一个快车道！
          </p>
        <div class="name">
          
      张先生

        </div>
        <div class="divider"></div>
          <p class="small">
            
      <em>运营总监，</em>
        <strong>天猫店铺</strong>
        </p>
        </div> <!-- /.quote -->
      </div> <!-- /.testimonial -->
    </div> <!-- /.col -->
    <div class="col-md-4">
      <div class="testimonial">
        <div class="headshot">
          <img src="/static/img/service/testimonial-rebekah-iliff.jpg" width="75" height="75">
        </div> <!-- /.headshot -->
        <div class="quote">
          <p>
            
     我们是从总裁智囊团升级到的VIP会员，感觉只能是谁用谁知道 <i class="fa fa-lg fa-smile-o" style="color:#686868;"></i> !
          </p>
          <p>
            VIP会员的智能运营服务比前面几个级别都高了很多，更为专业的店铺运营指导意见可以让我们在行业竞争中保持领先！
          </p>
        <div class="name">
          
      刘总

        </div>
        <div class="divider"></div>
          <p class="small">
            
      <em>店铺老板, </em>     
        <strong> 淘宝店铺</strong>
     

          </p>
        </div> <!-- /.quote -->
      </div> <!-- /.testimonial -->
    </div> <!-- /.col -->

          </div> <!-- /.row -->
        </div> <!-- /.container -->
      </div> <!-- /.cushion -->
    </div> <!-- /.light -->

      <div class="blue border">
      <div class="cushion inner-border">
        <div class="container">
          <div class="row">
            <div class="col-md-8">
              <h1>我们一直相信，随着技术的发展，店铺的运营可以更加智能化.
                线上店铺的运营，应该变得更轻松，更容易.</h1>
            </div> <!-- /.col -->
            <div class="col-md-4">
              <p><em>只要登陆系统后台，小主就可以将您的需求反馈给我们，
                让数据更符合您的需求.</em></p>
              <a href="/account"><button class="btn btn-blue btn-lg" type="button">提交反馈</button></a>
            </div> <!-- /.col -->
          </div> <!-- /.row -->
        </div> <!-- /.container -->
      </div> <!-- /.cushion -->
    </div> <!-- /.blue -->
     
   
    {{template "footer" .}}
</div>
</body></html>