{{template "header" .}}
    <title> 条款和限制-金冠直通车 · 中小规模电商运营第一品牌.
    </title>
  </head>
  <body data-spy="scroll" data-target="#scrollspy" class="">
    <div class="container-full">
    <!-- Global navigation scheme(s)
    ================================================== -->
    {{template "navibar" .}}
  
    <div class="jumbotron">
        <div class="our-story">
          <div class="container">
            <div class="wrapper">
              <div class="row">
                <div class="col-md-10">
                  <h1>
                    
                  </h1>
                </div> <!-- /.col -->
              </div> <!-- /.row -->
              <div class="row">
                <div class="col-md-12">
                  
      <div class="row" align="center">
        <div class="col-md-12">
          <br>
          <h1 class="framed">
            服 务 条 款
          </h1>
        </div> <!-- /.col -->
      </div> <!-- /.row -->

                </div> <!-- /.col -->
              </div> <!-- /.row -->
            </div> <!-- /.wrapper -->
          </div> <!-- /.container -->
        </div> <!-- /.landing -->
      </div>



      <div class="light">
    <div class="cushion">
      <div class="container">
        <div class="row">
          <div class="col-md-12" align="center">
            <h1>
              请小主同时关注我们的服务条款和安全限制.
            </h1>
          </div> <!-- /.col -->
        </div> <!-- /.row -->
      </div> <!-- /.container -->
    </div> <!-- /.cushion -->
  </div>




    <div class="white">
    <div class="container">
      <div class="row">
        <div class="col-md-3 cushion">
          <div class="spacer"></div>
          <ul class="nav nav-pills nav-stacked">
            <li class="active">
              <a href="#">
                规则及约束
              </a>
              <ul class="nav nav-pills nav-stacked">
                <li>
                  <a href="#termofservice" id="anchor2" class="anchorLink">
                    服务条款
                  </a>
                </li>
                <li>
                  <a href="#privacypolicy" id="anchor3" class="anchorLink">
                    隐私条款
                  </a>
                </li>
                <li>
                  <a href="#security" id="anchor3" class="anchorLink">
                    安全事项
                  </a>
                </li>               
              </ul>
            </li>            
          </ul>
        </div> <!-- /.col -->



        <div class="col-md-8 border-left cushion-lg">
          <a name="termofservice" id="termofservice" class="nav-offset"></a>
          <h1>
            服务条款
          </h1>
          <div class="spacer"></div>
          <p>
  <strong>
    What is Dedicated Assistance?
  </strong>
  <br>
  All of our plans include a dedicated virtual assistant (ZA). You'll work with
  your ZA on a one-to-one basis, continually submitting tasks directly to this
  person. Your ZA will grow to know you, your work, and your preferences, while
  learning to anticipate your needs without you having to repeat yourself.
</p>

          <div class="divider-lg"></div>
          <br>
          <p>
  <strong>Where will my ZA be located?</strong>
  <br>
  All of our ZAs are located in the United States and you'll work with an assistant in the time-zone of your preference.
</p>
<p>
  Do you live outside the U.S.? No worries! We currently have clients in over 60 countries and can happily support your needs—wherever you are. Please be aware that your ZA will be working from their U.S. time-zone when completing your tasks though.
</p>

          <div class="divider-lg"></div>
          <br>
          <a name="branded-email" id="branded-email" class="nav-offset"></a>
          <p>
  <strong>
    What is the Branded Email feature?
  </strong>
  <br>
  Branded Email is a little addition that makes a huge difference. This feature
  allows your dedicated ZA to send and receive emails from your domain instead
  of their @zirtual.com address. This adds a level of professionalism and gives
  the appearance that your assistant is in-house when desired. Branded email is
  included in Executive and VIP level plans, while just $99/mo. for
  Entrepreneur level plans.
</p>

          <div class="divider-lg"></div>
          <br>
          <p>
  <strong>
    Will my ZA be working on the weekend?
  </strong>
  <br>
  Our ZAs work standard business hours, Monday through Friday. You can submit
  your tasks anytime, day or night, weekday or weekend and your ZA will
  receive the task(s) the following business day to begin working on them.
</p>

          <div class="divider-lg"></div>
          <br>
          <p>
            <strong>
              Will my ZA be working on holidays?
            </strong>
            <br>
            Zirtual observes major US holidays. Your Zirtual Assistant will be
            offline and spending quality time with family and friends on these
            occasions during the 2015 calendar year:
          </p>
          <ul>
            <li>
              New Year's Day (Thursday, January 1st)
            </li>
            <li>
              Day After New Year's Day (Friday, January 2nd)
            </li>
            <li>
              Memorial Day (Monday, May 25th)
            </li>
            <li>
              Day Before Independence Day (Friday, July 3rd)
            </li>
            <li>
              Labor Day (Monday, September 7th)
            </li>
            <li>
              Thanksgiving Day (Thursday, November 26th)
            </li>
            <li>
              Day After Thanksgiving Day (Friday, November 27th)
            </li>
            <li>
              Christmas Eve (Thursday, December 24th)
            </li>
            <li>
              Christmas Day (Friday, December 25th)
            </li>
            <li>
              New Year's Eve (Thursday, December 31st)
            </li>
            <li>
              New Year's Day (Friday, January 1st, 2016)
            </li>
          </ul>
          <div class="divider-lg"></div>
          <br>
          <p>
  <strong>
    Can my ZA handle scheduling?
  </strong>
  <br>
  Absolutely. Your ZA can coordinate meetings, schedule appointments, and manage
  your Google Calendar with ease. Simply share and grant your ZA access to
  manage your calendar. It's that simple!
</p>
<p class="small text-muted">
  <em>
    ZAs exclusively use and manage Google Calendars. At this time we cannot
    guarantee support for Outlook, iCal, or other calendar applications,
    though we will do our best to accommodate your needs.
  </em>
</p>

          <div class="divider-lg"></div>
          <br>
          <p>
  <strong>Can my ZA make purchases on my behalf?</strong>
  <br>
  Yes! Your ZA can place orders, make purchases, and schedule payments safely and securely. You can read more about our security measures and policies <a href="/security/">here.</a>
</p>
<p>
  To share credit card information, passwords, and other sensitive data, simply have your ZA collect your information over the phone. This way, we can ensure your information remains safe. At Zirtual, we are committed to the security of your account!
</p>

          <div class="divider-lg"></div>
          <br>
          <p>
  <strong>Can my ZA make outbound phone calls for me?</strong>
  <br>
  Sure thing. Your ZA is happy to contact vendors, make reservations, and place phone calls for you. All ZAs are equipped with Google Voice accounts, making calling a cinch.
</p>

          <div class="divider-lg"></div>
          <br>
          <p>
            <strong>
              How about in-bound phone calls?
            </strong>
            <br>
            Yes and no. Every ZA has a dedicated extension available for you to
            call to submit tasks (or just to chat!). However, this line is
            available for your convenience. Your ZA cannot accept calls from
            contacts, vendors, or service providers on your behalf.
          </p>
          <div class="divider-lg"></div>
          <br>
          <p>
  <strong>Can my ZA keep my inbox organized?</strong>
  <br>
  You know it! Delegating your Gmail inbox to your ZA to read, send, and delete messages on your behalf is a great way to stay on top of email and keep your inbox tidy.
</p>
<p class="small text-muted">
  <em>ZAs work exclusively out of Gmail and cannot guarantee support for Outlook, Mail, or other mail clients, though we will do our best to accommodate your needs.</em>
</p>

          <div class="divider-lg"></div>
          <br>
          <p>
            <strong>
              Can my ZA edit and format a presentation for me?
            </strong>
            <br>
            They sure can. Your ZA can use Google Presentations to format and
            edit personal or business presentations. If you require assistance
            in a professional application like Powerpoint or Keynote, you're
            welcome to purchase a license for your ZA as long as it's compatible
            with their operating system and hardware.
          </p>
          <div class="divider-lg"></div>
          <br>
          <p>
            <strong>
              Can my ZA work with my project management tools or other
              specialized software?
            </strong>
            <br>
            All of our ZAs go through a rigorous certification process so that
            they can best serve you from day one. While we do not offer specific
            training for specialized software, our ZAs are more than happy to
            assist if you are able to provide instruction. Please note that we
            are unable to provide support for any software requiring local
            desktop download.
          </p>
          <div class="divider-lg"></div>
          <br>
          <p>
            <strong>
              Can my ZA help with my accounting needs?
            </strong>
            <br>
            Your ZA will happily find you an excellent bookkeeper or CPA.
            However, due to certain legalities and a specific knowledge of the
            domain, ZAs are unable to provide assistance with Quickbooks or
            other accounting tools.
          </p>
          <div class="divider-lg"></div>
          <br>
          <p>
            <strong>
              Can my ZA do design work for me?
            </strong>
            <br>
            Your ZA can certainly research and vet qualified freelancers or
            graphic design agencies. However, as talented as your ZA is, they
            cannot personally provide assistance with design projects.
          </p>
          <div class="divider-lg"></div>
          <br>
          <p>
            <strong>
              How about video or audio editing?
            </strong>
            <br>
            Much like design work, audio and video editing requires domain
            expertise which your ZA will not be able to provide. If you're in a
            pinch to find a good editor though, your ZA will gladly hunt you
            down the best!
          </p>
          <div class="divider-lg"></div>
          <br>
          <p>
            <strong>
              Not seeing your question answered? Send it on over to our Client
              Happiness Team and they'll have an answer back to you in no time.
            </strong>
            <a href="mailto:happiness@zirtual.com" class="more">
              Ask a question
            </a>
          </p>
          


          <br>
          <div class="spacer"></div>
          <a name="privacypolicy" id="privacypolicy" class="nav-offset"></a>
          <h1>
            隐私条款
          </h1>
          <div class="spacer"></div>
          <p>
  <strong>
    How long does the hiring process take?
  </strong>
  <br>
  The automated task portion of our hiring starts after you submit your first
  task and can take up to three days, ultimately depending on how fast you
  complete the assignments. After you complete the process, the hiring team
  will then begin to evaluate your work. Because of the number of applications
  we receive, we are unable to give a definitive timeframe for the evaluation
  portion.
</p>
<p>
  If we do move forward with your application, you will be sent to your first,
  virtual, face-to-face interview.
</p>

          <div class="divider-lg"></div>
          <br>
          <p>
  <strong>
    Will I hear back after sending in my application?
  </strong>
  <br>
  Because of the high volume of applications we receive, it is difficult for our
  team to respond to every application that comes through. Rest assured, if your
  application is a match for what we're looking for, we will absolutely be in
  touch.
</p>

          <div class="divider-lg"></div>
          <br>
          <p>
  <strong>
    My state is not listed. Will you be hiring in any other states in the
    future?
  </strong>
  <br>
  We do not have a specific timeframe for opening hiring in other states. Please
  feel free to check the website periodically to see if our needs have changed.
</p>

          <div class="divider-lg"></div>
          <br>
          <p>
  <strong>
    If I do not make it through the process, will you tell me exactly why I was
    not moved forward?
  </strong>
  <br>
  Due to the amount of applications our department receives, we are unable to
  provide specifics to each candidate. If you're interested in applying again in
  30 days, we encourage you to read over and become familiar with our job
  description.
</p>

          <div class="divider-lg"></div>
          <br>
          <p>
  <strong>
    You usually respond quickly to my emails, but it's been over 24 hours and I
    still haven't received anything! What's going on?
  </strong>
  <br>
  Never fear! Sometimes we get large influxes of candidates which slows our
  response time. If it has been more than five days and you still have not heard
  back, please follow up with us by sending an email to
  <a href="mailto:hiring@zirtual.com">hiring@zirtual.com</a>.
</p>

          <div class="divider-lg"></div>
          <br>
          <p>
  <strong>
    Can I re-apply if I am not moved forward?
  </strong>
  <br>
  Yes, you can definitely re-apply! We just ask that you wait 30 days before
  doing so.
</p>

          <div class="divider-lg"></div>
          <br>
          <p>
            <strong>
              I feel that I am the ideal candidate with tons of experience, but
              I was not moved forward. Why?
            </strong>
            <br>
            Experience is absolutely valued, but we also take many other factors
            into consideration. Things like attention to detail, communication
            style, and confidence are very important to us!
          </p>
          <div class="divider-lg"></div>
          <br>
          <p>
            <strong>
              Not seeing your question answered? Send it on over to our Hiring
              Team and they'll have an answer back to you in no time.
            </strong>
            <a href="mailto:hiring@zirtual.com" class="more">
              Ask a question
            </a>
          </p>



          <div class="spacer"></div>
          <a name="security" id="security" class="nav-offset"></a>
          <h1>
            安全事项
          </h1>
          <div class="spacer"></div>
          <p>
            <strong>
              Not seeing your question answered? Send it on over to our Hiring
              Team and they'll have an answer back to you in no time.
            </strong>
            <a href="mailto:hiring@zirtual.com" class="more">
              Ask a question
            </a>
          </p>

        </div> <!-- /.col -->
      </div> <!-- /.row -->
    </div> <!-- /.container -->
  </div>
  




    {{template "footer" .}}
</div>
</body></html>